<div class="card mb-4">
	<f:render partial="{pathSegment}Checkout/Header/Header" arguments="{_all}" />
	<f:if condition="{checkout.action} == {current}}">
		<div class="tx-maagitproduct-checkout_content tx-maagitproduct-checkout_{current} px-3">
			<f:if condition="{checkout.coupon.lastError} != ''"><div class="couponError"><p class="mt-3">{checkout.coupon.lastError}<p></div></f:if>
			<div class="form-group row mt-3">
				<label class="col-sm-4" for="checkout-coupon-code">
					<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:checkout.coupon.code" />
				</label>
				<div class="col-sm-8">
					<f:form.textfield property="coupon.code" type="text" id="checkout-coupon-code" placeholder="{f:translate(key: 'LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:checkout.coupon.code.placeholder')}" class="form-control" />
				</div>
			</div>
			<f:if condition="{checkout.coupon.discount.coupontext} != ''">
				<div class="form-group row">
					<div class="couponDescription col-sm-12"><f:format.html>{checkout.coupon.discount.coupontextHtml}</f:format.html></div>
				</div>
			</f:if>
			<div class="row mb-3"></div>
		</div>
		</div>
		<div class="card-footer p-0 m-0">
			<f:if condition="{settings.checkout.sending.condition}==2">
				<f:then>
					<f:render partial="{pathSegment}Checkout/Footer/Continue" arguments="{current: current, action: 'terms'}" />
				</f:then>
				<f:else>
					<f:render partial="{pathSegment}Checkout/Footer/Continue" arguments="{current: current, action: 'summary'}" />
				</f:else>
			</f:if>
		</div>	
	</f:if>
</div>