<div class="card mb-4">
	<f:render partial="{pathSegment}Checkout/Header/Header" arguments="{_all}" />
	<f:if condition="{checkout.action} == {current}}">
		<div class="tx-maagitproduct-checkout_content tx-maagitproduct-checkout_{current}">
			<ul class="list-group list-group-flush">				
				<f:if condition="{checkout.basket.hasDownloads}">					
					<li class="list-group-item dropdown-item p-0">
						<label for="deliverymethod-download" class="m-0 p-3 w-100">
							<input type="radio" id="deliverymethod-download" value="download" checked="checked" disabled="disabled" />
							<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:checkout.mail.download.link" />
							<div class="float-right">
								<f:render partial="Div/Currency" section="renderCurrency" arguments="{amount: '0.00'}" />
							</div>
						</label>
					</li>
				</f:if>				
				<f:if condition="{checkout.basket.hasOnlyDownloads}==false">
					<f:for each="{checkout.delivery.deliveryMethods}" as="method">
						<li class="list-group-item dropdown-item p-0">
							<label for="deliverymethod-{method.id}" class="m-0 p-3 w-100">
								<f:form.radio property="delivery.deliveryMethod" id="deliverymethod-{method.id}" value="{method.id}" additionalAttributes="{required: 'required'}" />
								{method.text}
								<div class="float-right text-right">
									<f:if condition="{method.tarif} > 0">+</f:if>
									<f:if condition="{method.tarif} < 0">
										<f:then>
											<f:render partial="Div/Currency" section="renderCurrency" arguments="{amount: 0}" />
											<br /><span class="small text-muted"><f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:checkout.delivery.minordervalue" /></span>
										</f:then>
										<f:else>
											<f:render partial="Div/Currency" section="renderCurrency" arguments="{amount: method.tarif}" />
										</f:else>
									</f:if>
								</div>
							</label>
						</li>
					</f:for>
				</f:if>
			</ul>
		</div>
		</div>
		<div class="card-footer p-0 m-0">
			<f:render partial="{pathSegment}Checkout/Footer/Continue" arguments="{current: current, action: 'payment'}" />
		</div>
	</f:if>
</div>