<div class="card mb-4">
	<f:render partial="{pathSegment}Checkout/Header/Header" arguments="{_all}" />
	<f:if condition="{checkout.action} == {current}}">
		<div class="tx-maagitproduct-checkout_content tx-maagitproduct-checkout_{current} px-3">
			<input type="hidden" id="checkout-login-logintype" name="logintype" value="login">

			<f:if condition="{checkout.login.lastError} != ''"><div class="loginError"><p class="mt-3">{checkout.login.lastError}<p></div></f:if>
			<f:if condition="{checkout.login.loggedIn}">
				<f:then>
					<div class="form-group row mb-0 mt-3">
						<label class="col-sm-4" for="checkout-login-user">
							<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:checkout.login.user" />
						</label>
						<div class="col-sm-8">
							<span class="form-control readonly">{checkout.login.user.username}</span>
						</div>
					</div>
					<div class="actions">
						<nav class="form-navigation">
							<div class="btn-toolbar row mb-0 mt-3" role="toolbar">
								<div class="col-sm-4 p-0 d-none d-sm-block">&nbsp;</div>
								<div class="btn-group next submit col-sm-8">
									<input id="checkout-login-logout" class="btn btn-primary" type="submit" value="Abmelden">
								</div>
							</div>
						</nav>
					</div>
				</f:then>
				<f:else>
					<div class="form-group row mb-0 mt-3">
						<label class="col-sm-4" for="checkout-login-user">
							<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:checkout.login.user" />
							<span class="required">*</span>
						</label>
						<div class="col-sm-8">
							<input type="email" id="checkout-login-user" name="user" value="{checkout.login.username}" autocomplete="off" required="required" placeholder="<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:checkout.login.user.placeholder" />" class="form-control">
						</div>
					</div>
					<div class="form-group row mb-0 mt-3">
						<label class="col-sm-4" for="checkout-login-password">
							<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:checkout.login.password" />
							<span class="required">*</span>
						</label>
						<div class="col-sm-8">
							<input type="password" id="checkout-login-password" name="pass" required="required" autocomplete="off" placeholder="<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:checkout.login.password.placeholder" />" class="form-control">
						</div>
					</div>
					<f:if condition="{settings.checkout.login.recovery}">
						<div class="form-group row mb-0 mt-1">
							<div class="col-sm-4">&nbsp;</div>
							<div class="col-sm-8">
								<f:link.typolink parameter="{settings.checkout.login.recovery}"><f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:checkout.login.recovery" /></f:link.typolink>
							</div>
						</div>
					</f:if>
					<f:if condition="{settings.checkout.login.register}">
						<div class="form-group row mb-0 mt-1">
							<div class="col-sm-4">&nbsp;</div>
							<div class="col-sm-8">
								<f:link.typolink parameter="{settings.checkout.login.register}"><f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:checkout.login.register" /></f:link.typolink>
							</div>
						</div>
					</f:if>
				</f:else>
			</f:if>

			<div class="form-group row mb-0 mt-3">
				<hr width="100%" size="1" />
			</div>

			<div class="form-group row mb-3 mt-3">
				<label class="col-sm-4" for="checkout-login-guest">
					<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:checkout.login.guest" />
				</label>
				<div class="col-sm-8">
					<f:form.checkbox property="login.guest" id="checkout-login-guest" name="loginGuest" value="1" class="form-check-input" />
					<label class="form-check-label" for="checkout-login-guest"><f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:checkout.login.guest.label" /></label>
				</div>
			</div>

		</div>
		</div>
		<div class="card-footer p-0 m-0">
			<f:render partial="{pathSegment}Checkout/Footer/Continue" arguments="{current: current, action: 'address', pathSegment: pathSegment}" />
		</div>
	</f:if>
</div>