<div class="card mb-4">
	<f:render partial="{pathSegment}Checkout/Header/Header" arguments="{_all}" />
	<f:if condition="{checkout.action} == {current}}">
		<div class="tx-maagitproduct-checkout_content tx-maagitproduct-checkout_{current}">
			<ul class="list-group list-group-flush">				
				<f:if condition="{checkout.total}==0">
					<li class="list-group-item dropdown-item p-0">
						<label for="paymentmethod-free" class="m-0 p-3 w-100">
							<input type="radio" id="paymentmethod-free" value="free" checked="checked" disabled="disabled" />
							<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:checkout.payment.free" />
							<div class="float-right">
								<<f:render partial="Div/Currency" section="renderCurrency" arguments="{amount: '0.00'}" />
							</div>
						</label>
					</li>
				</f:if>		
				<f:if condition="{checkout.total}>0">
					<f:for each="{checkout.payment.paymentMethods}" as="method">
						<li class="list-group-item dropdown-item p-0">
							<label for="paymentmethod-{method.id}" class="m-0 p-3 w-100">
								<f:form.radio property="payment.paymentMethod" id="paymentmethod-{method.id}" value="{method.id}" additionalAttributes="{required: 'required'}" />
								{method.text}
								<div class="float-right">
									<f:if condition="{method.tarif} > 0">+</f:if>
									<f:render partial="Div/Currency" section="renderCurrency" arguments="{amount: method.tarif}" />
								</div>
							</label>
						</li>
					</f:for>
				</f:if>
			</ul>
		</div>
		</div>
		<div class="card-footer p-0 m-0">
			<f:if condition="{settings.checkout.coupon.step}">
				<f:then>
					<f:render partial="{pathSegment}Checkout/Footer/Continue" arguments="{current: current, action: 'coupon'}" />
				</f:then>
				<f:else>
					<f:if condition="{settings.checkout.sending.condition}==2">
						<f:then>
							<f:render partial="{pathSegment}Checkout/Footer/Continue" arguments="{current: current, action: 'terms'}" />
						</f:then>
						<f:else>
							<f:render partial="{pathSegment}Checkout/Footer/Continue" arguments="{current: current, action: 'summary'}" />
						</f:else>
					</f:if>
				</f:else>
			</f:if>
		</div>	
	</f:if>
</div>