<div class="card mb-4">
	<f:render partial="{pathSegment}Checkout/Header/Header" arguments="{_all}" />
	<f:if condition="{checkout.action} == {current}}">
		<div class="tx-maagitproduct-checkout_content tx-maagitproduct-checkout_{current} px-3">
			<f:if condition="{checkout.terms.lastError} != ''"><div class="termsError"><p class="mt-3">{checkout.terms.lastError}<p></div></f:if>
			<div class="form-group row mt-3">
				<div class="row">
					<div class="col-1">
						<f:form.checkbox property="terms.accepted" value="true" id="checkout-terms-accepted" class="form-check-input ml-3" />
					</div>
					<div class="col-11">
						<label class="form-check-label pl-3" for="checkout-terms-accepted">
							<f:format.raw>{checkout.terms.text}</f:format.raw>
						</label>
					</div>
				</div>
			</div>
			<div class="row mb-3"></div>
		</div>
		</div>
		<div class="card-footer p-0 m-0">
			<f:render partial="{pathSegment}Checkout/Footer/Continue" arguments="{current: current, action: 'summary'}" />
		</div>	
	</f:if>
</div>
