#checkoutSummary p {
	margin: 0							!important;
}

.bootstrap-summary-info {
	display: inline-grid;
	width: calc(100% - 3px);
	border: 1px solid #dadada;
	margin-top: 15px;	
}

.bootstrap-summary-header {
	padding: 15px;
}

.bootstrap-summary-content {
	height: 70px;
	overflow: auto;
}

.bootstrap-additional-info {
	display: inline-grid;
	width: calc(50% - 3px);
	border: 1px solid #dadada;
	margin-top: 15px;	
}

.bootstrap-additional-header {
	padding: 15px;
}

.bootstrap-additional-content {
	height: 140px;
	overflow: auto;
}

.bootstrap-additional-info .scrollItem {
	margin-top: -34px					!important;
}

.tx-maagitproduct-checkout .icon {
    z-index: 1;
    -webkit-transform: translateY(15%) translateX(-100%);
    -ms-transform: translateY(15%) translateX(-100%);
    transform: translateY(15%) translateX(-100%);
    width: 12px;
    height: 12px;
    color: #000;
    pointer-events: none;
}

.tx-maagitproduct-checkout .icon--sm {
    font-size: 24px;
    font-size: 0.75em;
}

.tx-maagitproduct-checkout .icon {
    opacity: 0; 
    transition: opacity .2s;
	color: #fff;
}

.tx-maagitproduct-checkout .clear {
	clear: both;
}

.tx-maagitproduct-checkout .columns-wrapper {
	width: 100%;
}

.tx-maagitproduct-checkout .columns-left {
	float: left;
	width: 49%;
}

.tx-maagitproduct-checkout .columns-right {
	width: 50%;
	margin-left: 50%;
}

.tx-maagitproduct-checkout .row {
	margin-bottom: 20px;
}

.tx-maagitproduct-checkout .row header {
	font-weight: bold;
	color: #fff;
	background-color: #777;
	border: 0;
	border-radius: 4px;
	height: 40px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
}

.tx-maagitproduct-checkout .row header:hover {
	background-color: hsl(204, 73%, 52%);
}

.tx-maagitproduct-checkout header .ok {
	float: right;
}

.tx-maagitproduct-checkout .delete {
	color: #a0a0a0;
	font-size: 12px;
}

.tx-maagitproduct-checkout .reset {
	background-color: transparent;
	padding: 0;
	border: 0;
	border-radius: 0;
	color: inherit;
	line-height: inherit;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	width: 85px;
	margin-top: -4px;
}

@-moz-document url-prefix() {
	.tx-maagitproduct-checkout .reset {
        margin-left: -4px;
	}
}

.tx-maagitproduct-checkout select {
	margin: 0;
	cursor: pointer;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	border: none;
}

.tx-maagitproduct-checkout select:focus {
	outline: none;
	color: hsl(210, 31%, 24%);
	box-shadow: 0 1px 0 #000;
}

.tx-maagitproduct-checkout select::-ms-expand {
	display: none;
}

.tx-maagitproduct-checkout .select .icon {
	transform: translateY(-120%) translateX(600%);
	display: block;
	width: 12px;
	height: 12px;
	color: #000;
	pointer-events: none;
	opacity: 1						!important;
}

.tx-maagitproduct-checkout .row header.inactive {
	color: #343434;
	background-color: #dadada;
}

.tx-maagitproduct-checkout .row header.active {
	background-color: hsl(204, 73%, 52%);
	border-radius: 4px 4px 0 0;
}

.tx-maagitproduct-checkout #summary header {
	border-radius: 4px 4px 0 0						!important;
}

.tx-maagitproduct-checkout .row a,
.tx-maagitproduct-checkout .row a:visited,
.tx-maagitproduct-checkout .row a:hover,
.tx-maagitproduct-checkout .row a:link,
.tx-maagitproduct-checkout .row a:active {
	text-decoration: none;
}

.tx-maagitproduct-checkout .row .tx-maagitproduct-checkout_content {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	padding-bottom: 10px;
	background-color: #f0f0f0;
	border-radius: 0 0 4px 4px;
}

.tx-maagitproduct-checkout_address div.form-group:last-child {
    padding-bottom: 0.75rem !important;
}

.tx-maagitproduct-checkout .continueRow {
	width: 100%;
	text-align: right;
	border-top: 1px solid #dadada;
	margin-top: 20px;
}

.tx-maagitproduct-checkout #summary .continueRow {
	border-top: 0;
	margin-top: 10px;
}

.tx-maagitproduct-checkout .continueRow .inner {
	margin-top: 10px;
	display: inline-block;
	min-width: 90px;
	background: hsl(204, 73%, 52%);
	border-radius: 4px;
}

.tx-maagitproduct-checkout #summary .continueRow .inner {
	min-width: 162px;
}

.tx-maagitproduct-checkout .continueRow .tx-maagitproduct-checkout_link {
    display: inline-flex;
    min-width: 60px;
	background: hsl(204, 73%, 52%);
    color: hsl(0, 0%, 100%);
    text-align: center;
    transition: all .2s 0s;
	padding: 8px 0 8px 15px;
	border-radius: 4px;
	padding-right: 8px;
}

.tx-maagitproduct-checkout .continueRow .tx-maagitproduct-checkout_link em {
    position: relative;
    display: inline-block;
    -webkit-transform: translateX(40px);
    -ms-transform: translateX(40px);
    transform: translateX(0);
    transition: transform .2s .3s, padding .2s 0s;
}

.tx-maagitproduct-checkout .continueRow .tx-maagitproduct-checkout_link:hover em {
    padding-right: 7px;
}

.tx-maagitproduct-checkout .continueRow .tx-maagitproduct-checkout_link:hover .icon {
    opacity: 1;
    -webkit-transform: translateY(15%) translateX(50%);
    -ms-transform: translateY(15%) translateX(50%);
    transform: translateY(15%) translateX(50%);
}

.tx-maagitproduct-checkout .orderid {
    font-weight: normal;
	font-size: small;
}

div.radio:first-child {
	border-top: 1px solid #dadada;
}

div.radio {
	border: 1px solid #dadada;
	border-top: 0;
}

div.radio label {
	display: block;
	padding: 18px 0;
	cursor: pointer;
}

div.radio .tarif {
	float: right;
	margin-right: 10px;
	text-align: right;
}

.tx-maagitproduct-checkout #checkoutSummary .header .right {
	margin-bottom: 15px;
}

.tx-maagitproduct-checkout table {
	width: 100%;
	border-collapse: collapse;
}

.tx-maagitproduct-checkout tr:first-child {
	height: 25px;
	vertical-align: top;
}

.tx-maagitproduct-checkout tr {
	height: 50px;
	vertical-align: top;
}

.tx-maagitproduct-checkout tr:nth-child(2) td {
	padding-top: 10px;
}

.tx-maagitproduct-checkout th {
	font-weight: bold;
	border-bottom: 1px solid #dadada;
	text-align: left;
}

.tx-maagitproduct-checkout th.price {
	text-align: right;
}

.tx-maagitproduct-checkout td.image {
	vertical-align: top;
	width: 15%;
}

.tx-maagitproduct-checkout td.image img {
	width: 50px;
}

.tx-maagitproduct-checkout td.product {
	width: 45%;
}

.tx-maagitproduct-checkout td.product .nr {
	font-size: 11px;
}

.tx-maagitproduct-checkout td.product .unit {
	font-size: 11px;
}

.tx-maagitproduct-checkout td.quantity {
	width: 10%;
}

.tx-maagitproduct-checkout td.price {
	width: 30%;
	text-align: right;
}

.tx-maagitproduct-checkout td.foot {
	padding-top: 15px;
	padding-bottom: 0px;
	font-weight: bold;
	border-top: 1px solid #dadada;
	border-bottom: 4px double #dadada;
}

.tx-maagitproduct-checkout td.taxincluded {
	padding-top: 10px;
	color: silver;
	font-size: 11px;
}

.tx-maagitproduct-checkout .error {
	margin-top: 10px;
	color: red;
	font-style: italic;
}

.tx-maagitproduct-checkout .paymentOk {
	margin-top: 10px;
	color: green;
	font-style: italic;
}


.tx-maagitproduct-checkout .additionalInfos {
	width: 100%;
}

.tx-maagitproduct-checkout .additionalInfos .outer {
	display: inline-block;
	margin-top: 20px;
	width: calc(50% - 2px);
	vertical-align: text-top;
}

.tx-maagitproduct-checkout .additionalInfos .additionalBlock {
	border: 1px solid #dadada;
	padding: 15px;
	height: 100px;
	overflow: auto;
}

.tx-maagitproduct-checkout .additionalInfos .header {
	width: 100%;
}

.tx-maagitproduct-checkout .additionalInfos .header .left {
	display: inline;
	width: 48%;
	font-weight: bold;
}

.tx-maagitproduct-checkout .additionalInfos .header .right,
.tx-maagitproduct-checkout .tx-maagitproduct-checkout_summary .header .right {
	display: inline;
	width: 48%;
	text-align: right;
	float: right;
	white-space: nowrap;
}

.tx-maagitproduct-checkout .additionalInfos .header .right a,
.tx-maagitproduct-checkout .tx-maagitproduct-checkout_summary .header .right a {
	color: #a0a0a0;
}

.tx-maagitproduct-checkout .additionalInfos .content p {
	margin: 0;
	padding: 0;
}

.tx-maagitproduct-checkout .additionalInfos .content label {
	display: inline-block;
	width: 35%;
}

.tx-maagitproduct-checkout .additionalBlock .header {
	margin-bottom: 10px;
}

.tx-maagitproduct-checkout .additionalSubtitle {
	text-decoration: underline;
}

#paypal-button-container {
	width: 100px					!important;
}

.tx-maagitproduct-checkout-send {
	margin-right: 20px;
}

.tx-maagitproduct-checkout-send .cols {
	margin-top: 20px;
}

.tx-maagitproduct-checkout-send #checkoutSummary {
	padding-bottom: 30px;
}

.tx-maagitproduct-checkout .agb {
	display: block;
	text-align: right;
	width: 100%;
}

.tx-maagitproduct-checkout .agb p {
	display: inline-block;
	width: 300px;
	margin: 0;
	margin-top: 10px;
	font-style: italic;
}

.tx-maagitproduct-checkout__hidden {
	display: none;
	visibility: hidden;
}

.loginError,
.couponError,
.termsError {
	color: red;
	font-size: smaller;	
}

.couponDescription {
	color: silver;
	font-style: italic;
}

.couponDescription p {
	padding: 0;
	margin: 0;
}

.couponCodeSummary {
	font-size: smaller;
}

.couponTextSummary {
	display: block;
	font-size: smaller;
	color: silver;
	font-style: italic;
}

.couponTextSummary.error {
	display: block;
	font-size: smaller;
	color: red;
	font-style: italic;
}

.scrollItem {
	float: right;
	margin-top: -30px;
	cursor: pointer;
}


.material-icons span {
	font-size: 36px;
	color: #a0a0a0;
	text-align: center;
}

.hovering {
    animation-name: hovering;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.schweben_ {
    margin: 0 10px 25px 0;
}

@keyframes hovering {
	from {transform:translate(0, 0px);}
	10% {transform:translate(0, -6px);}
	90% {transform:translate(0, -6px);}
	to {transform: translate(0, -0px);}
}






/* smartphones (portrait mode) */
@media only all and (min-width:320px) {

}

/* smarthones (landscape mode) */
@media all and (min-device-width:321px) {
	.tx-maagitproduct-checkout .columns-left {
		float: none;
		width: 100%;
	}

	.tx-maagitproduct-checkout .columns-right {
		width: 100%;
		margin-left: 0;
	}	
}

/* smartphones (landscape && portrait mode) */
@media only all and (min-device-width:320px) and (max-device-width:480px) {
	.tx-maagitproduct-checkout .columns-left {
		float: none;
		width: 100%;
	}

	.tx-maagitproduct-checkout .columns-right {
		width: 100%;
		margin-left: 0;
	}	

	.tx-maagitproduct-checkout .additionalInfos .outer {
		width: 100%;
	}
	
	.tx-maagitproduct-checkout .select .icon {
		transform: translateY(-120%) translateX(250%);
	}
	
	.tx-maagitproduct-checkout .reset {
		width: 45px;
	}
}

/* tablets (landscape mode) */
@media all and (min-device-width:768px) and (max-device-width:1024px) and (orientation: landscape) {
	.tx-maagitproduct-checkout .columns-left {
		float: left					!important;
		width: 49%					!important;
	}

	.tx-maagitproduct-checkout .columns-right {
		width: 50%					!important;
		margin-left: 50%			!important;
	}	
}

/* tablets (portrait mode) */
@media all and (min-device-width:768px) and (max-device-width:1024px) and (orientation:portrait) {

}

/* tablets (landscape && portrait mode) */
@media only all and (min-device-width:640px) and (max-device-width:1024px) {
	.tx-maagitproduct-checkout .columns-left {
		float: none;
		width: 100%;
	}

	.tx-maagitproduct-checkout .columns-right {
		width: 100%;
		margin-left: 0;
	}	
}

/* normal screens */
@media only all and (min-width: 1024px) {
	.tx-maagitproduct-checkout .columns-left {
		float: left					!important;
		width: 49%					!important;
	}

	.tx-maagitproduct-checkout .columns-right {
		width: 50%					!important;
		margin-left: 50%			!important;
	}
	

	.tx-maagitproduct-checkout-send {
		width: 70%;
	}	
}
