@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

/*
\f005  =>  full star
\f006  =>  empty star outline
\f089  =>  half star no outline
*/

.rate {
    display: inline-block;
    border: 0;
	margin-top: 15px;
	margin-bottom: 10px;
	color: rgb(180, 180, 180);
}

.rate .reflect {
	-webkit-box-reflect: below -17.5px -webkit-linear-gradient(top, rgba(0,0,0,0) 10%, rgba(255,255,255,0.5) 100%);	
}

.rate > input {
    display: none;
}

.rate > label {
	float: right;
}

.rate > label:before {
    display: inline-block;
    font-size: 1.2rem;
    padding: 0 4px;
    margin: 0;
    cursor: pointer;
    font-family: FontAwesome;
    content: "\f005 ";
}

.rate > label:last-child:before {
    content: "\f005 ";
}

.rate .half:before {
    content: "\f089 ";
    position: absolute;
    padding-right: 0;
}

.rate label:hover,
.rate label:hover ~ label {
	color: #daa520;
}

.rate > label.active:before {
	color: #daa520;
}

.rate label.active:hover:before,
.rate label.active:hover ~ label:before {
	color: #daa520;
}