<f:if condition="{checkout.action}=={current} || {confirmation}==true || {checkout.basket.basketItems->f:count()}==0">
	<f:then>
		<header class="card-header border-0 p-0">
			<div class="btn-block btn-info bg-primary text-left rounded-top border-0 p-4">
				<f:if condition="{checkout.basket.basketItems->f:count()}==0">
					<f:then>
						<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:checkout.send" arguments="{0: stepNumber}" />
					</f:then>
					<f:else>
						<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:checkout.{current}" arguments="{0: stepNumber}" />
					</f:else>
				</f:if>
				<f:if condition="({current}=='summary' || {current}=='send' || {confirmation}==true) && {checkout.basket.basketItems->f:count()}>0">
					<small class="text-white text-small">(<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:checkout.orderId" /> {checkout.orderId})</small>
				</f:if>
			</div>
		</header>
		<div class="card-body p-0">
	</f:then>
	<f:else>
		<f:if condition="{visited}">
			<f:then>
				<header class="card-header border-0 p-0 ">
					<button class="tx-maagitproduct-checkout_header_link btn btn-block btn-secondary bg-secondary text-left border-0 rounded p-4" data-current="{checkout.action}" data-action="{current}">
					<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:checkout.{current}" arguments="{0: stepNumber}" />
					<f:if condition="{visited}">
						<f:then>
							<f:if condition="{valid}">
								<f:then>
									<i class="fa-check fa float-right"></i>
								</f:then>
								<f:else>
									<i class="fa-exclamation fa float-right"></i>
								</f:else>
							</f:if>
						</f:then>
					</f:if>
					<f:if condition="({current}=='summary' || {current}=='send' || {confirmation}==true) && {checkout.basket.basketItems->f:count()}>0">
						<small data-current="{checkout.action}" data-action="{current}" class="text-white">(<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:checkout.orderId" /> {checkout.orderId})</small>
					</f:if>
				</header>
			</f:then>
			<f:else>
				<header class="card-header font-weight-bold py-4">
					<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:checkout.{current}" arguments="{0: stepNumber}" />
					<f:if condition="({current}=='summary' || {current}=='send' || {confirmation}==true) && {checkout.basket.basketItems->f:count()}>0">
						<small data-current="{checkout.action}" data-action="{current}" class="">(<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:checkout.orderId" /> {checkout.orderId})</small>
					</f:if>
				</header>
			</f:else>
		</f:if>
	</f:else>
</f:if>