<f:section name="HeaderAssets">
	<script src="{f:uri.resource(path:'JavaScript/Experience/ExperienceMain.js', extensionName: 'maagitproduct')}"></script>
	<link rel="stylesheet" type="text/css" href="{f:uri.resource(path:'StyleSheet/Experience/Experience.css', extensionName: 'maagitproduct')}" media="all">
</f:section>
<f:layout name="Experience" />
<f:section name="main">
	<f:variable name="ratingCount"><f:count>{experiences}</f:count></f:variable>
	<f:variable name="totalRatings"><f:render section="averageRating" arguments="{_all}" /></f:variable>
	<f:variable name="averageRating">{totalRatings / ratingCount}</f:variable>
	<f:if condition="{averageRating}>0">
		<div class="experienceAlert alert alert-secondary stickynotes" data-scrolltop="50" role="alert">
			<p class="m-0 p-0"><f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:experience.alert.title" /><br /><strong><f:render section="textRating" arguments="{rating: averageRating}" /></strong></p>
			<p class="small">(<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:experience.alert.count" /> {ratingCount} <f:if condition="{ratingCount} > 1"><f:then><f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:experience.alert.rating.majority" /></f:then><f:else><f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:experience.alert.rating.singular" /></f:else></f:if>)</p>
			<f:render section="stars" arguments="{rating: averageRating}" />
		</div>
	</f:if>
</f:section>


<f:section name="averageRating"><f:variable name="rating">0</f:variable><f:for each="{experiences}" as="experience"><f:variable name="rating">{rating + experience.rating}</f:variable></f:for>{rating}</f:section>


<f:section name="textRating">
	<f:if condition="{rating} > 4.0 && {rating} <= 5.0">
		<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:experience.alert.stars.5" />
	</f:if>
	<f:if condition="{rating} > 3 && {rating} <= 4">
		<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:experience.alert.stars.4" />
	</f:if>
	<f:if condition="{rating} > 2 && {rating} <= 3">
		<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:experience.alert.stars.3" />
	</f:if>
	<f:if condition="{rating} > 1 && {rating} <= 2">
		<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:experience.alert.stars.2" />
	</f:if>
	<f:if condition="{rating} > 0 && {rating} <= 1">
		<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:experience.alert.stars.1" />
	</f:if>
</f:section>


<f:section name="stars">
	<fieldset class="rate my-0">
		<input type="radio" id="rating10" name="rating" value="10" /><label class="reflect {f:if(condition: '{rating}>4.5', then: 'active')}" for="rating10" title="<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:experience.alert.stars.5" />"></label>
	    <input type="radio" id="rating9" name="rating" value="9" /><label class="reflect half {f:if(condition: '{rating}>4', then: 'active')}" for="rating9" title="<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:experience.alert.stars.5" />"></label>
	    <input type="radio" id="rating8" name="rating" value="8" /><label class="reflect {f:if(condition: '{rating}>3.5', then: 'active')}" for="rating8" title="<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:experience.alert.stars.4" />"></label>
	    <input type="radio" id="rating7" name="rating" value="7" /><label class="reflect half {f:if(condition: '{rating}>3', then: 'active')}" for="rating7" title="<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:experience.alert.stars.4" />"></label>
	    <input type="radio" id="rating6" name="rating" value="6" /><label class="reflect {f:if(condition: '{rating}>2.5', then: 'active')}" for="rating6" title="<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:experience.alert.stars.3" />"></label>
	    <input type="radio" id="rating5" name="rating" value="5" /><label class="reflect half {f:if(condition: '{rating}>2', then: 'active')}" for="rating5" title="<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:experience.alert.stars.3" />"></label>
	    <input type="radio" id="rating4" name="rating" value="4" /><label class="reflect {f:if(condition: '{rating}>1.5', then: 'active')}" for="rating4" title="<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:experience.alert.stars.2" />"></label>
	    <input type="radio" id="rating3" name="rating" value="3" /><label class="reflect half {f:if(condition: '{rating}>1', then: 'active')}" for="rating3" title="<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:experience.alert.stars.2" />"></label>
	    <input type="radio" id="rating2" name="rating" value="2" /><label class="reflect {f:if(condition: '{rating}>0', then: 'active')}" for="rating2" title="<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:experience.alert.stars.1" />"></label>
	    <input type="radio" id="rating1" name="rating" value="1" /><label class="reflect half {f:if(condition: '{rating}>0', then: 'active')}" for="rating1" title="<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:experience.alert.stars.1" />"></label>
	</fieldset>
</f:section>