.maagitproduct {
	float: left;
	width: 220px;
	padding: 0 20px;
}

.maagitproduct .image {
	height: 200px;
}

.plus,
.minus {
    font-size: 90%;
	color: white;
	border-radius: 18px;
	padding: 0 10px;
	border: 1px solid;
}

.plus {
	background-color: green;
}

.minus {
	background-color: red;
}