<f:section name="HeaderAssets">
	<link rel="stylesheet" type="text/css" href="{f:uri.resource(path:'StyleSheet/Basket/Basket.css', extensionName: 'maagitproduct')}" media="all">
	<script src="{f:uri.resource(path:'JavaScript/Basket/BasketMain.js', extensionName: 'maagitproduct')}"></script>
	<script src="{f:uri.resource(path:'JavaScript/Basket/BasketUtil.js', extensionName: 'maagitproduct')}"></script>
</f:section>
<f:layout name="Shop" />
<f:section name="main">
	<f:render partial="Basket/Basket" arguments="{_all}" />
</f:section>