<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
	<div class="modal-content">
		<div class="modal-header">
			<h5 class="modal-title" id="exampleModalLongTitle"><f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:experience.title" /></h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
		</div>
		<div id="experience-detail" class="modal-body">
			<div class="row">	
				<div class="col-lg-12 my-4">
					<h2><f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:rating.title" /></h2>
					<p class=""><f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:experience.intro" /></p>
					<f:form action="experience" name="experience" id="frmExperience" object="{checkout.experience}">
						<f:form.hidden property="rating" id="rating" value="" />
						<div class="form-group row">
							<label class="control-label col-sm-3" for="name"><f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:rating.name" /><span class="required">*</span></label>
						       <div class="input col-sm-9">
								<f:form.textfield property="name" id="name" placeholder="{f:translate(key: 'LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:rating.name.placeholder')}" required="required" />
							</div>
						</div>
						<div class="form-group row">
							<label class="control-label col-sm-3" for="email"><f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:rating.email" /></label>
						       <div class="input col-sm-9">
								<f:form.textfield property="email" id="email" placeholder="{f:translate(key: 'LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:rating.email.placeholder')}" />
							</div>
						</div>
						<div class="form-group row">
							<label class="control-label col-sm-3" for="rating"><f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:rating.rating" /><span class="required">*</span></label>
							<div class="input col-sm-9">
								<fieldset class="rate my-0">
									<input class="" type="radio" id="rating10" name="star" value="5" required="required" />
									<label class="js-tx-maagitproduct-star" for="rating10" title="<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:product.rating.stars.5" />"></label>
									<input class="" type="radio" id="rating9" name="star" value="4.5" required="required" />
									<label class="js-tx-maagitproduct-star half" for="rating9" title="<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:product.rating.stars.5" />"></label>
									<input class="" type="radio" id="rating8" name="star" value="4" required="required" />
									<label class="js-tx-maagitproduct-star" for="rating8" title="<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:product.rating.stars.4" />"></label>
									<input class="" type="radio" id="rating7" name="star" value="3.5" required="required" />
									<label class="js-tx-maagitproduct-star half" for="rating7" title="<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:product.rating.stars.4" />"></label>
									<input class="" type="radio" id="rating6" name="star" value="3" required="required" />
									<label class="js-tx-maagitproduct-star" for="rating6" title="<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:product.rating.stars.3" />"></label>
									<input class="" type="radio" id="rating5" name="star" value="2.5" required="required" />
									<label class="js-tx-maagitproduct-star half" for="rating5" title="<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:product.rating.stars.3" />"></label>
									<input class="" type="radio" id="rating4" name="star" value="2" required="required" />
									<label class="js-tx-maagitproduct-star" for="rating4" title="<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:product.rating.stars.2" />"></label>
									<input class="" type="radio" id="rating3" name="star" value="1.5" required="required" />
									<label class="js-tx-maagitproduct-star half" for="rating3" title="<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:product.rating.stars.2" />"></label>
									<input class="" type="radio" id="rating2" name="star" value="1" required="required" />
									<label class="js-tx-maagitproduct-star" for="rating2" title="<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:product.rating.stars.1" />"></label>
									<input class="" type="radio" id="rating1" name="star" value="0.5" required="required" />
									<label class="js-tx-maagitproduct-star half" for="rating1" title="<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:product.rating.stars.1" />"></label>
								</fieldset>
							</div>
						</div>
						<div class="form-group row">
							<label class="control-label col-sm-3" for="comment"><f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:rating.comment" /></label>
							<div class="input col-sm-9">
								<f:form.textarea property="comment" id="comment" placeholder="{f:translate(key: 'LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:rating.comment.placeholder')}" />
							</div>
						</div>
						<div class="form-group row">
							<div class="col-sm-3">&nbsp;</div>
							<div class="input col-sm-9">
								<button class="btn btn-primary js-tx-maagitproduct-experience-send" type="submit"><f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:experience.submit" /></button>
							</div>
						</div>
					</f:form>
				</div>
			</div>
		</div>
	</div>
</div>