<style>
	p {
		margin: 0;
		padding: 0;
	}
	
	.couponCodeSummary {
		font-size: 9px;
	}

	.couponTextSummary {
		display: block;
		font-size: 9px;
		color: silver;
		font-style: italic;
	}
</style>

<f:render partial="Email/Header" arguments="{_all}" />
<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:checkout.send.intro" />
<br /><br />
<f:render partial="Email/Basket" arguments="{_all}" />
<br /><br />
<f:render partial="Email/Additional" arguments="{_all}" />