There was a error thrown at the payment process.
<br /><br/>

<b>Response from payment portal:</b><br />
<f:debug plainText="false" ansiColors="true" inline="true">{response}</f:debug>
<br /><br/>

<b>Data sent to payment portal:</b><br />
<f:debug plainText="false" ansiColors="true" inline="true">{data}</f:debug>
