<f:format.raw><f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:checkout.mail.download.intro" arguments="{0: basketItem.product.header}" /></f:format.raw>

<f:if condition="{basketItem.product.secureLink}">
	<f:then>
		<f:link.typolink parameter="{basketItem.product.secureLink}" absolute="true" target="_blank"><f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:checkout.mail.download.link" /></f:link.typolink>&nbsp;{settings.checkout.download.secureTimeoutText}
	</f:then>
	<f:else>
		<f:link.typolink parameter="{basketItem.product.link}" absolute="true" target="_blank"><f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:checkout.mail.download.link" /></f:link.typolink>
	</f:else>
</f:if>

<f:format.raw><f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:checkout.mail.download.outro" /></f:format.raw>	