<style>
	p {
		margin: 0;
		padding: 0;
	}
</style>

<h1 style="font-size: 14px; font-weight: bold;"><f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:experience.title" /></h1>
<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:experience.emailnotification.intro" /><br /><br />

<table style="width: 100%;">
	<tr style="vertical-align: top;">
		<td style="font-size: 12px; font-weight: bold; background-color: #ebebeb;"><f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:rating.name" /></td>
		<td style="font-size: 12px; background-color: #ebebeb;">{experience.name}</td>
	</tr>
	<tr style="vertical-align: top;">
		<td style="font-size: 12px; font-weight: bold; background-color: #ebebeb;"><f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:rating.email" /></td>
		<td style="font-size: 12px; background-color: #ebebeb;">{experience.email}</td>
	</tr>
	<tr style="vertical-align: top;">
		<td style="font-size: 12px; font-weight: bold; background-color: #ebebeb;"><f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:rating.rating" /></td>
		<td style="font-size: 12px; background-color: #ebebeb;">{experience.rating}</td>
	</tr>
	<tr style="vertical-align: top;">
		<td style="font-size: 12px; font-weight: bold; background-color: #ebebeb;"><f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:rating.comment" /></td>
		<td style="font-size: 12px; background-color: #ebebeb;">{experience.comment}</td>
	</tr>
</table>