/* Requires Fontawesome
\f005  =>  full star
\f006  =>  empty star outline
\f089  =>  half star no outline
*/

.experienceAlert {
	width: 260px;
	height: 160px;
	z-index: 1000;
	transform: rotate(9deg);
	position: fixed;
	top: 110px;
	right: 53px;
}

.experienceAlert p {
	margin: 0;
	padding: 0;
}

.xs .experienceAlert,
.sm .experienceAlert {
	width: 150px;
	height: 90px;
	right: -10px;
	top: 80px;
	font-size: 0.5rem;
	transform: rotate(23deg);
}

.xs .experienceAlert .rate,
.sm .experienceAlert .rate {
	margin-top: 0.2rem		!important;
}

.xs .experienceAlert .rate > label:before,
.sm .experienceAlert .rate > label:before {
	font-size: 0.5rem;
	padding: 0.2rem;
}

.xs .experienceAlert p.small,
.sm .experienceAlert p.small {
	font-size: 7px;
}

.rate {
    display: inline-block;
    border: 0;
	margin-top: 10px		!important;
	color: rgb(180, 180, 180);
}

.rate .reflect {
	-webkit-box-reflect: below -17.5px -webkit-linear-gradient(top, rgba(0,0,0,0) 10%, rgba(255,255,255,0.5) 100%);	
}

.rate > input {
    display: none;
}

.rate > label {
	float: right;
}

.rate > label:before {
    display: inline-block;
    font-size: 1.2rem;
    padding: 0 4px;
    margin: 0;
    cursor: pointer;
    font-family: FontAwesome;
    content: "\f005 ";
	color: silver;
}

.rate > label:last-child:before {
    content: "\f005 ";
}

.rate .half:before {
    content: "\f089 ";
    position: absolute;
    padding-right: 0;
	color: silver;
}

.rate label:hover,
.rate label:hover ~ label {
	color: #daa520;
}

.rate > label.active:before {
	color: #daa520;
}

.rate label.active:hover:before,
.rate label.active:hover ~ label:before {
	color: #daa520;
}