<f:variable name="action" value="send"></f:variable>
<f:if condition="{checkout.payment.paymentMethod}=='paypal'">
	<f:variable name="action" value="paypal"></f:variable>
</f:if>
<f:if condition="{checkout.payment.paymentMethod}=='stripe'">
	<f:variable name="action" value="stripe"></f:variable>
</f:if>
<f:if condition="{checkout.payment.paymentMethod}=='saferpayCredit'">
	<f:variable name="action" value="saferpay"></f:variable>
</f:if>
<f:if condition="{checkout.payment.paymentMethod}=='saferpayWallet'">
	<f:variable name="action" value="saferpay"></f:variable>
</f:if>


<f:if condition="{sendSummary}!=true && {confirmation}!=true && {checkout.action}=={current}">
	<f:if condition="(({settings.checkout.login.step} && {checkout.login.valid}) || (!{settings.checkout.login.step})) && {checkout.address.valid} && {checkout.delivery.valid} && {checkout.payment.valid} && (({settings.checkout.coupon.step} && {checkout.coupon.valid}) || (!{settings.checkout.coupon.step})) && (({settings.checkout.sending.condition}==2 && {checkout.terms.valid}) || ({settings.checkout.sending.condition}!=2))">
		<f:then>
			<button type="button" class="tx-maagitproduct-checkout_link btn btn-primary float-right my-3 mr-3" data-current="{current}" data-action="{action}">
				<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:checkout.summary.send" />
			</button>
			<f:if condition="{settings.checkout.sending.condition}==1">
				<small class="float-right mx-3"><f:format.html>{checkout.agb}</f:format.html></small>
			</f:if>
		</f:then>
		<f:else>
			<div class="mx-3 text-danger">
				<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:checkout.summary.notvalid" />
			</div>
		</f:else>
	</f:if>
</f:if>