.tx-maagitproduct-basket .icon {
	position: absolute;
	z-index: 1;
	right:0; top:50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	display: block;
	width: 12px;
	height:12px;
	color: #000;
	pointer-events: none;
}

.tx-maagitproduct-basket .icon--sm {
	font-size: 24;
	font-size: 0.75em;
}

.tx-maagitproduct-basket .btn, 
.tx-maagitproduct-basket .form-control,
.tx-maagitproduct-basket .link,
.tx-maagitproduct-basket .reset {
	background-color: transparent;
	padding: 0;
	border: 0;
	border-radius: 0;
	color: inherit;
	line-height: inherit;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	min-width: 40px;
}

.tx-maagitproduct-basket button,
.tx-maagitproduct-basket input,
.tx-maagitproduct-basket textarea,
.tx-maagitproduct-basket select {
	margin: 0;
}

.tx-maagitproduct .text-replace {
    overflow: hidden;
    color: transparent;
    text-indent: 100%;
    white-space: nowrap;
}

.tx-maagitproduct-basket::before {
	content: '';
	position: fixed;
	z-index: 1;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background: rgba(0,0,0,.5);
	opacity: 0;
	visibility: hidden;
	transition: opacity .4s,visibility .4s;
}

.tx-maagitproduct-basket ul,
.tx-maagitproduct-basket li {
	font-family: Arial;
	line-height: 1;
	list-style: none;
	margin: 0;
	padding: 0;
	border: 0;
}

.tx-maagitproduct-basket__trigger {
    z-index: 13;
    height: 72px;
    width: 72px;
    overflow: visible															!important;
}

.tx-maagitproduct-basket__trigger::after,
.tx-maagitproduct-basket__trigger::before {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translateY(-50%) translateX(-50%);
	-ms-transform: translateY(-50%) translateX(-50%);
	transform: translateY(-50%) translateX(-50%);
	height: 100%;
	width: 100%;
	/* background: url(path_to_/basket-close.svg) no-repeat 0 0; --> see typoscript setup: it's there for getting correct path to file */
    background-position-x: 0px;
    background-position-y: 0px;
	transition: opacity .2s, -webkit-transform .2s;
	transition: opacity .2s, transform .2s;
	transition: opacity .2s, transform .2s, -webkit-transform .2s;
}

.tx-maagitproduct-basket__trigger::after {
	background-position: -72px 0;
	opacity: 0;
	-webkit-transform: translateX(-50%) translateY(-50%) rotate(90deg);
	-ms-transform: translateX(-50%) translateY(-50%) rotate(90deg);
	transform: translateX(-50%) translateY(-50%) rotate(90deg);
}

.tx-maagitproduct-basket__trigger,
.tx-maagitproduct-basket__trigger:hover,
.tx-maagitproduct-basket__trigger:active,
.tx-maagitproduct-basket__trigger:visited,
.tx-maagitproduct-basket__content {
	position: fixed;
	bottom: 150px;
	right: 5%;
	transition: -webkit-transform .2s;
	transition: transform .2s;
	transition: transform .2s, -webkit-transform .2s;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	will-change: transform;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	background-color: inherit;
}

.tx-maagitproduct-basket--empty .tx-maagitproduct-basket__trigger,
.tx-maagitproduct-basket--empty .tx-maagitproduct-basket__content {
	transform: translateY(250px);
}

.tx-maagitproduct-basket--open::before {
	opacity: 1;
	visibility: visible;
}

.tx-maagitproduct-basket--open .tx-maagitproduct-basket__trigger::before {
	opacity: 0;
}

.tx-maagitproduct-basket--open .tx-maagitproduct-basket__trigger::after {
	opacity: 1;
	transform: translateX(-50%) translateY(-50%);
}

.tx-maagitproduct-basket__trigger:hover + .tx-maagitproduct-basket__content .tx-maagitproduct-basket__layout {
	box-shadow: 0 6px 40px rgba(#000, .3);
}

.tx-maagitprodcut-basket--open .tx-maagitproduct-basket__trigger:hover + .tx-maagitproduct-basket__content .cd-basket__layout {
	box-shadow: 0 4px 30px rgba(#000, .17);
}

.tx-maagitproduct-basket__count {
	position: absolute;
	top: -10px;
	right: -10px;
	height: 28px;
	width: 28px;
	padding: 0							!important;
	background: hsl(7, 80%, 56%);
    color: hsl(0, 0%, 100%);
	font-size: 0.83333em;
	font-weight: bold;
	border-radius: 50%;
	text-indent: 0;
	transition: -webkit-transform .2s .5s;
	transition: transform .2s .5s;
	transition: transform .2s .5s, -webkit-transform .2s .5s;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.tx-maagitproduct-basket__count li {
	position: absolute;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	left: 50%;
	top: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	-webkit-animation-duration: .15s;
	animation-duration: .15s;
}

.tx-maagitproduct-basket__count li:last-of-type {
	visibility: hidden;
}

.tx-maagitproduct-basket__count--update li:last-of-type {
  animation-name: tx-maagitproduct-qty-enter;
}

.tx-maagitproduct-basket__count--update li:first-of-type {
  animation-name: tx-maagitproduct-qty-leave;
}

.tx-maagitproduct-basket--open .tx-maagitproduct-basket__count {
  transition: transform .2s 0s;
  transform: scale(0);
}

.tx-maagitproduct-basket--empty .tx-maagitproduct-basket__count {
  transform: scale(1);
}

.tx-maagitproduct-basket__content {
	z-index: 12;
	width: 90%;
	max-width: 440px;
	height: 400px;
	max-height: 90%;
	pointer-events: none;
}

.tx-maagitproduct-basket__layout {
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 2;
	overflow: hidden;
	height: 72px;
	width: 72px;
	border-radius: 0.25em;
	border-radius: 0.25em;
	transition: height .4s .1s, width .4s .1s, box-shadow .3s;
    transition-timing-function: ease, ease, ease;
	transition-timing-function: cubic-bezier(0.67, 0.17, 0.32, 0.95);
	background: hsl(0, 0%, 100%);
	box-shadow: 0 4px 30px rgba(0,0,0,0.17);
	pointer-events: auto;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
}

.tx-maagitproduct-basket--open .tx-maagitproduct-basket__layout {
  height: 100%;
  width: 100%;
  transition-delay: 0s;
}

.tx-maagitproduct-basket__header {
	position: relative;
	z-index: 1;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-flex-align: center;
	align-items: center;
	border-radius: 0.25em 0.25em 0 0;
	border-radius: 0.25em 0.25em 0 0;
	height: 40px;
	line-height: 40px;
	background-color: hsl(0, 0%, 100%);
	transition: opacity .2s 0s;
	border-bottom: 1px solid hsl(0, 0%, 90%);
}

.tx-maagitproduct-basket__nr {
	font-size: 11px;
}

.tx-maagitproduct-basket__unit {
	font-size: 11px;
}

.tx-maagitproduct-basket--open .tx-maagitproduct-basket__header {
	transition: opacity .2s .2s;
}

.tx-maagitproduct-basket__header h2 {
	margin: 0					!important;
}

.tx-maagitproduct-basket__header,
.tx-maagitproduct-basket__body {
	opacity: 0;
	padding-left: 0.825em;
	padding-right: 0.825em;
}

.tx-maagitproduct-basket--open .tx-maagitproduct-basket__header, 
.tx-maagitproduct-basket--open .tx-maagitproduct-basket__body {
	opacity: 1;
}

.tx-maagitproduct-basket__body {
	flex-grow: 1;
	padding-top: 0.75em;
	padding-bottom: 0.75em;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	transition: opacity .2s;
}

.tx-maagitproduct-basket__body ul {
	position: relative; 
	padding-bottom: 60px;
}

.tx-maagitproduct-basket--open .tx-maagitproduct-basket__body {
	transition: opacity 0s;
}

.tx-maagitproduct-basket--open .tx-maagitproduct-basket__body ul {
	margin-bottom: 20px					!important;
}

.tx-maagitproduct-basket--open .tx-maagitproduct-basket__body li {
	transition: transform .3s .2s, opacity .3s .2s;
	opacity: 1;
	transform: translateX(0);
}

.tx-maagitproduct-basket--open .tx-maagitproduct-basket__body li:nth-of-type(2) {
	transition-duration: .4s;
}

.tx-maagitproduct-basket--open .tx-maagitproduct-basket__body li:nth-of-type(3) {
	transition-duration: .5s;
}

.tx-maagitproduct-basket--open .tx-maagitproduct-basket__body li:nth-of-type(4),
.tx-maagitproduct-basket--open .tx-maagitproduct-basket__body li:nth-of-type(5) {
	transition-duration: .55s;
}

.tx-maagitproduct-basket__product {
	position: relative;
	opacity: 0;
	transform: translateX(80px);
	transition: opacity 0s .2s, transform 0s .2s;
	display: flex;
}

.tx-maagitproduct-basket__product:not(:last-of-type) {
	margin-bottom: 12px;
}

.tx-maagitproduct-basket__product a {
	text-decoration: none;
}

.tx-maagitproduct-basket__image {
	display: inline-block;
	width: 75px;
	flex-shrink: 0;
}

.tx-maagitproduct-basket__image img {
	display: block;
	width: 70px;
}

.tx-maagitproduct-basket__details {
	position: relative;
	display: flex;
	align-content: flex-start;
	flex-wrap: wrap;
	flex-grow: 1;
}

.tx-maagitproduct-basket__details h3 {
	text-align: left;
	font-weight: bold;
	width: 70%;
	margin: 0;
}

.tx-maagitproduct-basket__details a {
	color: inherit;
}

.tx-maagitproduct-basket__details a:hover {
	color: inherit;
}

.tx-maagitproduct-basket__price {
	width: 30%;
	text-align: right;
	font-weight: bold;
}

.tx-maagitproduct-basket__actions {
	display: flex;
	width: 70%;
	font-size: 0.75em;
}

.tx-maagitproduct-basket__select {
	position: relative;
}

.tx-maagitproduct-basket__select select {
	position: relative;
	padding: 0 2.5em 0 0;
	cursor: pointer;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	border: none;
	vertical-align: baseline;
	margin-left: 4px;
}

@-moz-document url-prefix() {
	.tx-maagitproduct-basket__select select {
        margin-left: 0px;
	}
}

.tx-maagitproduct-basket__select select:focus {
	outline: none;
	color: hsl(210, 31%, 24%);
	box-shadow: 0 1px 0 #000;
}

.tx-maagitproduct-basket__select select::-ms-expand {
	display: none;
}

.tx-maagitproduct-basket__select .icon {
	position: absolute;
	z-index: 1;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	display: block;
	width: 12px;
	height: 12px;
	color: #000;
	pointer-events: none;
}

.tx-maagitproduct-basket__hidden {
	display: none;
	visibility: hidden;
}

.tx-maagitproduct-basket__minordervalue {
	padding: 0.825em;
}

.tx-maagitproduct-basket__minordervalue p {
	margin: 0;
	padding: 0;
}

.tx-maagitproduct-basket__footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	border-radius: 0 0 0.25em 0.25em;
	box-shadow: 0 -2px 20px rgba(0,0,0,0.15);
	background: hsl(0, 0%, 100%);
}

.tx-maagitproduct-basket__checkout {
	display: block;
	height: 72px;
	line-height: 72px;
	margin-right: 72px;
	background: hsl(204, 73%, 52%);
	color: hsla(0, 0%, 100%, 0);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	font-size: 1.2em;
	font-weight: 600;
	transition: all .2s 0s;
}

.tx-maagitproduct-basket__checkout:hover {
	background: lightness(hsl(204, 73%, 52%), 1.08);
}

.tx-maagitproduct-basket__checkout .icon {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 0;
	opacity: 0;
	transition: opacity .2s;
	color: currentColor;
}

.tx-maagitproduct-basket__checkout em {
	position: relative;
	display: inline-block;
	-webkit-transform: translateX(40px);
	-ms-transform: translateX(40px);
	transform: translateX(40px);
	transition: -webkit-transform 0s .2s;
	transition: transform 0s .2s;
	transition: transform 0s .2s, -webkit-transform 0s .2s;
}

.tx-maagitproduct-basket--open .tx-maagitproduct-basket__checkout {
	color: hsl(0, 0%, 100%);
	transition: color .2s .3s;
}

.tx-maagitproduct-basket--open .tx-maagitproduct-basket__checkout em {
	transform: translateX(0);
	transition: transform .2s .3s, padding .2s 0s;
}

.tx-maagitproduct-basket--open .tx-maagitproduct-basket__checkout:hover em {
	padding-right: 30px;
}

.tx-maagitproduct-basket--open .tx-maagitproduct-basket__checkout:hover .icon {
	opacity: 1;
}

@keyframes tx-maagitproduct-qty-enter {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-50%) translateY(0);
  }
  100% {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) translateY(-50%);
  }
}

@keyframes tx-maagitproduct-qty-leave {
  0% {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) translateY(-50%);
  }
  100% {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-50%) translateY(-100%);
  }
}