<div id="experience-detail" class="modal-body">
	<div class="row">	
		<div class="col-lg-12 my-4">
			<h2><f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:rating.title" /></h2>
			<f:if condition="{experience.mailError}">
				<f:then>
					<f:format.html>{experience.mailError}</f:format.html>
				</f:then>
				<f:else>
					<p><f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:experience.outro" /></p>				
				</f:else>
			</f:if>
		</div>
	</div>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-secondary" data-dismiss="modal">Schliessen</button>
</div>