<f:section name="HeaderAssets">
	<link rel="stylesheet" type="text/css" href="{f:uri.resource(path:'StyleSheet/Checkout/Checkout.css', extensionName: 'maagitproduct')}" media="all">
	<link rel="stylesheet" type="text/css" href="{f:uri.resource(path:'StyleSheet/Checkout/Experience.css', extensionName: 'maagitproduct')}" media="all">
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/icon?family=Material+Icons" media="all">
	<script src="{f:uri.resource(path:'JavaScript/Confirmation/ConfirmationMain.js', extensionName: 'maagitproduct')}"></script>
	<script src="{f:uri.resource(path:'JavaScript/Confirmation/ExperienceMain.js', extensionName: 'maagitproduct')}"></script>
</f:section>
<f:layout name="Shop" />
<f:section name="main">
	<f:if condition="{settings.checkout.useBootstrapTemplates}==0">
		<div class="tx-maagitproduct-checkout tx-maagitproduct-checkout-send">
	</f:if>
		<f:variable name="confirmation" value="true"></f:variable>
		<f:variable name="current" value="send"></f:variable>
		<div class="cols">
			<div class="row" id="summary">
				<f:render partial="{pathSegment}Checkout/Content/Summary" arguments="{_all}" />
			</div>
		</div>
	<f:if condition="{settings.checkout.useBootstrapTemplates}==0">
		</div>
	</f:if>
	<f:if condition="{checkout.experience} && {checkout.basket.basketItems->f:count()}>0">
		<div id="checkoutExperience" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="Bewertung" style="display: none;" aria-hidden="true">
			<f:render partial="{pathSegment}Checkout/Experience/Rating" arguments="{_all}" />
		<div>
	</f:if>
</f:section>