<div class="additionalInfos">
	<f:render partial="Checkout/Additional/Address" arguments="{_all}" />
	<f:render partial="Checkout/Additional/Contact" arguments="{_all}" />
	<f:render partial="Checkout/Additional/Delivery" arguments="{_all}" />
	<f:render partial="Checkout/Additional/Payment" arguments="{_all}" />
	<f:render partial="Checkout/Additional/Agb" arguments="{_all}" />
	<f:render partial="Checkout/Additional/Message" arguments="{_all}" />
	<f:render partial="Checkout/Additional/Error" arguments="{_all}" />
</div>