<f:if condition="{checkout.address.firma}!=''||{checkout.address.prename}!=''||{checkout.address.lastname}!=''">
	<div class="outer">
		<div id="summaryAddress" class="summaryInfo additionalBlock">
			<div class="header">
				<div class="left">
					<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:checkout.summary.additionalInfos.delivery.address" />
				</div>
				<f:if condition="{confirmation}!=true && {checkout.action}=='summary'">
					<div class="right">
						<a href="" class="tx-maagitproduct-checkout_header_link" data-current="summary" data-action="address">
							<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:checkout.summary.additionalInfos.change" />
						</a>
					</div>
				</f:if>
			</div>
			<div class="content">
				<f:if condition="{checkout.address.firma}!=''">
					<f:format.html>{checkout.address.firma}</f:format.html>
				</f:if>
				<f:if condition="{checkout.address.salutation}!=''">
					<f:format.html>{checkout.address.salutation}</f:format.html>
				</f:if>
				<f:if condition="{checkout.address.prename}!=''||{checkout.address.lastname}!=''">
					<f:format.html>{checkout.address.prename} {checkout.address.lastname}</f:format.html>
				</f:if>
				<f:if condition="{checkout.address.address}==''}">
					<f:if condition="{checkout.address.street}!=''||{checkout.address.houseNumber}!=''||{checkout.address.houseAdd}!=''">
						<f:format.html>{checkout.address.street} {checkout.address.houseNumber}{checkout.address.houseAdd}</f:format.html>
					</f:if>
				</f:if>
				<f:if condition="{checkout.address.address}!=''">
					<f:format.html>{checkout.address.address}</f:format.html>
				</f:if>
				<f:if condition="{checkout.address.poCity}==''}">
					<f:if condition="{checkout.address.po}!=''||{checkout.address.city}!=''">
						<f:format.html>{checkout.address.po} {checkout.address.city}</f:format.html>
					</f:if>
				</f:if>
				<f:if condition="{checkout.address.poCity}!=''">
					<f:format.html>{checkout.address.poCity}</f:format.html>
				</f:if>
				<f:if condition="{checkout.address.country}!=''">
					<f:format.html>{checkout.address.country}</f:format.html>
				</f:if>
			</div>
		</div>
		<div class="scrollItem">
			<div class="material-icons hovering">
				<span>keyboard_arrow_down</span>
			</div>
		</div>
	</div>
</f:if>

<f:if condition="{checkout.address.bill}">
	<f:if condition="{checkout.address.billingAddress.firma}!=''||{checkout.address.billingAddress.prename}!=''||{checkout.address.billingAddress.lastname}!=''">
		<div class="outer">
			<div id="summaryAddress" class="summaryInfo additionalBlock">
				<div class="header">
					<div class="left">
						<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:checkout.summary.additionalInfos.billing.address" />
					</div>
					<f:if condition="{confirmation}!=true && {checkout.action}=='summary'">
						<div class="right">
							<a href="" class="tx-maagitproduct-checkout_header_link" data-current="summary" data-action="address">
								<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:checkout.summary.additionalInfos.change" />
							</a>
						</div>
					</f:if>
				</div>
				<div class="content">
					<f:if condition="{checkout.address.billingAddress.firma}!=''">
						<f:format.html>{checkout.address.billingAddress.firma}</f:format.html>
					</f:if>
					<f:if condition="{checkout.address.billingAddress.salutation}!=''">
						<f:format.html>{checkout.address.billingAddress.salutation}</f:format.html>
					</f:if>
					<f:if condition="{checkout.address.billingAddress.prename}!=''||{checkout.address.billingAddress.lastname}!=''">
						<f:format.html>{checkout.address.billingAddress.prename} {checkout.address.billingAddress.lastname}</f:format.html>
					</f:if>
					<f:if condition="{checkout.address.billingAddress.address}==''}">
						<f:if condition="{checkout.address.billingAddress.street}!=''||{checkout.address.billingAddress.houseNumber}!=''||{checkout.address.billingAddress.houseAdd}!=''">
							<f:format.html>{checkout.address.billingAddress.street} {checkout.address.billingAddress.houseNumber}{checkout.address.billingAddress.houseAdd}</f:format.html>
						</f:if>
					</f:if>
					<f:if condition="{checkout.address.billingAddress.address}!=''">
						<f:format.html>{checkout.address.billingAddress.address}</f:format.html>
					</f:if>
					<f:if condition="{checkout.address.billingAddress.poCity}==''}">
						<f:if condition="{checkout.address.billingAddress.po}!=''||{checkout.address.billingAddress.city}!=''">
							<f:format.html>{checkout.address.billingAddress.po} {checkout.address.billingAddress.city}</f:format.html>
						</f:if>
					</f:if>
					<f:if condition="{checkout.address.billingAddress.poCity}!=''">
						<f:format.html>{checkout.address.billingAddress.poCity}</f:format.html>
					</f:if>
					<f:if condition="{checkout.address.billingAddress.country}!=''">
						<f:format.html>{checkout.address.billingAddress.country}</f:format.html>
					</f:if>
				</div>
			</div>
			<div class="scrollItem">
				<div class="material-icons hovering">
					<span>keyboard_arrow_down</span>
				</div>
			</div>
		</div>
	</f:if>
</f:if>