<f:if condition="({checkout.action}=='send' || {confirmation}==true) && {settings.checkout.sending.condition}!=0 && {settings.checkout.sending.agb}!=''">
	<div class="outer">
		<div id="summaryAgb" class="summaryInfo additionalBlock">
			<div class="header">
				<div class="left">
					<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:checkout.mail.agb.title" />
				</div>
			</div>
			<div class="content">
				<f:if condition="{settings.checkout.sending.condition}==1">
					<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:checkout.mail.agb.1" />
					<f:link.typolink parameter="{checkout.agbUrl}">
						<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:checkout.mail.agb.link" />
					</f:link.typolink>
				</f:if>
				<f:if condition="{settings.checkout.sending.condition}==2">
					<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:checkout.mail.agb.2" />
					<f:link.typolink parameter="{checkout.agbUrl}">
						<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:checkout.mail.agb.link" />
					</f:link.typolink>
				</f:if>
			</div>
		</div>
		<div class="scrollItem">
			<div class="material-icons hovering">
				<span>keyboard_arrow_down</span>
			</div>
		</div>
	</div>
</f:if>