<f:if condition="{checkout.address.telephone}!=''||{checkout.address.mobile}!=''||{checkout.address.email}!=''">
	<div class="outer">
		<div id="summaryContact" class="summaryInfo additionalBlock">
			<div class="header">
				<div class="left">
					<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:checkout.summary.additionalInfos.contact" />
				</div>
				<f:if condition="{confirmation}!=true && {checkout.action}=='summary'">
					<div class="right">
						<a href="" class="tx-maagitproduct-checkout_header_link" data-current="summary" data-action="address">
							<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:checkout.summary.additionalInfos.change" />
						</a>
					</div>
				</f:if>
			</div>
			<div class="content">
				<f:format.html><label><f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:checkout.summary.additionalInfos.telephone" /></label>{checkout.address.telephone}</f:format.html>
				<f:format.html><label><f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:checkout.summary.additionalInfos.mobile" /></label>{checkout.address.mobile}</f:format.html>
				<f:format.html><label><f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:checkout.summary.additionalInfos.email" /></label>{checkout.address.email}</f:format.html>
			</div>
		</div>
		<div class="scrollItem">
			<div class="material-icons hovering">
				<span>keyboard_arrow_down</span>
			</div>
		</div>
	</div>
</f:if>