<f:if condition="{checkout.delivery.deliveryMethod}!='' || ({checkout.basket.hasDownloads} && {checkout.delivery.visited})">
	<div class="outer">
		<div id="summaryDelivery" class="summaryInfo additionalBlock">
			<div class="header">
				<div class="left">
					<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:checkout.summary.additionalInfos.delivery" />
				</div>
				<f:if condition="{confirmation}!=true && {checkout.action}=='summary'">
					<div class="right">
						<a href="" class="tx-maagitproduct-checkout_header_link" data-current="summary" data-action="delivery">
							<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:checkout.summary.additionalInfos.change" />
						</a>
					</div>
				</f:if>
			</div>
			<div class="content">
				<f:format.raw><f:if condition="{checkout.basket.hasDownloads}"><f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:checkout.mail.download.link" /><br /></f:if>{checkout.delivery.deliveryMethodInfo.text}</f:format.raw>
			</div>
		</div>
		<div class="scrollItem">
			<div class="material-icons hovering">
				<span>keyboard_arrow_down</span>
			</div>
		</div>
	</div>
</f:if>