<f:if condition="{confirmation}!=true && {checkout.action}!='send'">
	<f:if condition="{checkout.mailToReceiverError}!='' || {checkout.mailToSenderError}!='' || {checkout.mailDownloadError}!=''">
		<div class="outer">
			<div id="summaryError" class="summaryError additionalBlock">
				<div class="header">
					<div class="left error">
						<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:checkout.summary.additionalInfos.error" />
					</div>
				</div>
				<div class="content">
					<f:format.html>{checkout.mailToReceiverError}</f:format.html>
					<f:format.html>{checkout.mailToSenderError}</f:format.html>
					<f:format.html>{checkout.mailDownloadError}</f:format.html>
				</div>
			</div>
			<div class="scrollItem">
				<div class="material-icons hovering">
					<span>keyboard_arrow_down</span>
				</div>
			</div>
		</div>
	</f:if>
</f:if>