<f:if condition="{checkout.address.message}!=''">
	<div class="outer">
		<div id="summaryMessage" class="summaryInfo additionalBlock">
			<div class="header">
				<div class="left">
					<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:checkout.summary.additionalInfos.message" />
				</div>
				<f:if condition="{confirmation}!=true && {checkout.action}=='summary'">
					<div class="right">
						<a href="" class="tx-maagitproduct-checkout_header_link" data-current="summary" data-action="address">
							<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:checkout.summary.additionalInfos.change" />
						</a>
					</div>
				</f:if>
			</div>
			<div class="content">
				<f:format.html>{checkout.address.message}</f:format.html>
			</div>
		</div>
		<div class="scrollItem">
			<div class="material-icons hovering">
				<span>keyboard_arrow_down</span>
			</div>
		</div>
	</div>
</f:if>