<f:section name="HeaderAssets">
	<script src="{f:uri.resource(path:'JavaScript/Product/ProductMain.js', extensionName: 'maagitproduct')}"></script>
</f:section>
<f:layout name="Shop" />
<f:section name="main">
	<f:if condition="!{product}">
		<f:translate key="product.detail.notfound" />
	</f:if>
	<f:if condition="{product}">
		<f:render partial="Product/Detail" arguments="{product: product, settings: settings}" />
	</f:if>
</f:section>