<f:layout name="Shop" />
<f:section name="main">
	<f:if condition="<f:count>{products}</f:count> == 0">
		<f:then>
			<f:if condition="{settings.noresult}">
				<f:then>
					<f:format.html>{settings.noresult}</f:format.html>
				</f:then>
				<f:else>
					<f:translate key="product.noresult" />
				</f:else>
			</f:if>
		</f:then>
		<f:else>
			<f:render partial="Product/ListAll" arguments="{products: products, pagination: pagination, settings: settings}" />
		</f:else>
	</f:if>
</f:section>