<f:section name="HeaderAssets">
	<script src="{f:uri.resource(path:'JavaScript/Product/ProductMain.js', extensionName: 'maagitproduct')}"></script>
</f:section>
<f:layout name="Shop" />
<f:section name="main">
	<div id="products" class="row">	
		<f:if condition="<f:count>{products}</f:count> == 0">
			<f:then>
				<f:if condition="{settings.noresult}">
					<f:then>
						<f:format.html>{settings.noresult}</f:format.html>
					</f:then>
					<f:else>
						<f:translate key="product.noresult" />
					</f:else>
				</f:if>
			</f:then>
			<f:else>
				<f:render partial="Product/ListAll" arguments="{products: products, pagination: pagination, settings: settings}" />
			</f:else>
		</f:if>
	</div>
	<f:render partial="Product/Ajax" arguments="{_all}" />
</f:section>