<f:layout name="Shop" />
<f:section name="main">
	<f:if condition="{product.ratings -> f:count()}==0">
		<f:translate key="product.ratings.notfound" />
	</f:if>
	<f:if condition="{product.ratings -> f:count()}>0">
		<f:render partial="Product/Ratings" arguments="{product: product, settings: settings}" />
	</f:if>
</f:section>