{namespace maagitproduct=Maagit\Maagitproduct\ViewHelpers}

<f:variable name="urlCategoriesParameterValue"><f:cObject typoscriptObjectPath="lib.tx_maagitproduct.gpvariables" data="tx_maagitproduct_list|categories" /></f:variable>
<maagitproduct:split subject="{urlCategoriesParameterValue}" delimiter="," as="categories" />

<f:variable name="checked"></f:variable>
<f:for each="{categories}" as="category">
	<f:if condition="{category}=={data.uid}">
		<f:variable name="checked">checked</f:variable>
	</f:if>
</f:for>

<li class="list-group-item dropdown-item">
	<div class="custom-control custom-checkbox mr-sm-2 mb-0">
		<f:form.checkbox id="category-{data.uid}" name="tx_maagitproduct_list[categories]" value="{data.uid}" class="custom-control-input ml-1 category-item" checked="{checked}" />
		<label for="category-{data.uid}" class="custom-control-label ml-2 d-block">{data.title}</label>
	</div>
</li>