<div class="card mt-4">
	<f:for each="{product.assets}" as="asset" iteration="iterator">
		<f:if condition="{asset.type}=='contentObject'">
			<img class="card-img-top img-fluid" src="{asset.pathAndFilename}" alt="{product.header}" />
		</f:if>
	</f:for>
	<div class="card-body">
		<h3 class="card-title">{product.header}</h3>
		<h4 class="tx-maagitproduct-checkout_detailUnitPrice_{product.uid}"><f:format.currency decimalSeparator="." thousandsSeparator=" " decimals="2" currencySign="CHF" prependCurrency="true" separateCurrency="true" useDash="false">{product.price}</f:format.currency></h4>
		<p class="card-text"><f:format.raw>{product.bodytext}</f:format.raw></p>
	</div>
	<div class="card-footer text-center">
		<div class="d-flex justify-content-center">
			<f:render section="Units" arguments="{_all}" />
		</div>
		<i class="fa-shopping-basket fas"> </i>
		&nbsp;&nbsp;
		<a href="" class="tx-maagitproduct-add-to-basket js-tx-maagitproduct-add-to-basket" data-product="{product.uid}">in den Warenkorb</a>
	</div>
</div>


<f:section name="Units">
	<f:for each="{product.unit}" as="unit" iteration="iterator">
		<f:variable name="price">
			<f:format.currency decimalSeparator="." thousandsSeparator=" " decimals="2" currencySign="CHF" prependCurrency="true" separateCurrency="true" useDash="false">{unit.3}</f:format.currency>
		</f:variable>
		<div class=".form-check-inline mr-3">
			<input type="radio" class="js-tx-maagitproduct-unit" id="detail_unit_{product.uid}_{unit.0}" name="detailUnit_{product.uid}" data-product="{product.uid}" data-price="{price}" value="{unit.0}" {f:if(condition:'{iterator.isFirst}', then: 'checked="checked"')} />
			<label for="detail_unit_{product.uid}_{unit.0}">{unit.1}</label>
		</div>
	</f:for>
</f:section>