<div id="categoryFilter" class="accordion">
	<div  class="card">
		<div class="card-header p-0">
			<button type="button" class="btn btn-block text-left bg-light font-weight-bold" data-toggle="collapse" data-target="#collapseCategories">
				<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:product.filter.category.label" /><i class="float-right text-muted pt-1 fa-filter fa"></i>
			</button>
		</div>
		<div id="collapseCategories" class="collapse" data-parent="#categoryFilter">
			<ul class="list-group list-group-flush">
				<li class="list-group-item">
					<div class="custom-control custom-checkbox mr-sm-2 mb-0">
						<f:form.checkbox id="category-0" value="0" class="custom-control-input ml-1 category-all" />
						<label for="category-0" class="custom-control-label ml-2 d-block">
							<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:product.filter.category.all.label" />
						</label>
					</div>
				</li>
				<f:cObject typoscriptObjectPath="lib.tx_maagitproduct.categoryList" />
			</ul>
		</div>
	</div>
</div>