<f:if condition="{settings.paginate.doit} && {settings.paginate.insertAbove}">
	<f:render partial="Div/Pagination" section="renderPagination" arguments="{pagination: pagination}" />
</f:if>

<f:for each="{pagination.paginatedItems}" as="product">
	<f:if condition="{product.isNewType}">
		<f:if condition="{product.typeDescription}!='-- please select --'">
			<h3>{product.typeDescription}</h3>
		</f:if>
	</f:if>
	<f:cObject typoscriptObjectPath="lib.tx_maagitproduct.contentElement">{product.uid}</f:cObject>
</f:for>

<f:if condition="{settings.paginate.doit} && {settings.paginate.insertBelow}">
	<f:render partial="Div/Pagination" section="renderPagination" arguments="{pagination: pagination}" />
</f:if>