<h4 class="row mb-3">
	<div class="col-9 text-left"><f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:product.rating.product" />: {product.header}</div>
	<div class="col-3 text-right pr-4">
		<f:for each="{product.assets}" as="asset" iteration="iterator">
			<f:if condition="{iterator.isFirst}">
				<img src="{asset.pathAndFilename}" style="height: 40px;" />
			</f:if>
		</f:for>
	</div>
</h4>

<div class="accordion" id="accordionRatings">
	<f:for each="{product.ratings}" as="rating" iteration="iterator">
		<div class="card">
			<div class="card-header m-0 p-0" id="heading{rating.uid}">
				<h2 class="mb-0">
					<button class="mt-2 pr-0 py-0 btn btn-link btn-block {f:if(condition:'{!iterator.isFirst}', then: 'collapsed')}" type="button" data-toggle="collapse" data-target="#collapse{rating.uid}" aria-expanded="{f:if(condition:'{iterator.isFirst}', then: 'true', else: 'false')}" aria-controls="collapse{rating.uid}">
						<div class="row">
							<div class="col-4 text-left">{rating.name}</div>
							<div class="col-8 text-right pr-4"><f:render section="stars" arguments="{rating: rating.rating}" /></div>
						</div>
					</button>
				</h2>
			</div>
			<div id="collapse{rating.uid}" class="collapse {f:if(condition:'{iterator.isFirst}', then: 'show')}" aria-labelledby="heading{rating.uid}" data-parent="#accordionRatings">
				<div class="card-body px-3">
					<p class="small mb-2"><f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:product.rating.date" />: <f:format.date format="d.m.Y H:i">{rating.crdate}</f:format.date></p>						
					<f:format.html>{rating.comment}</f:format.html>
				</div>
			</div>
		</div>
  </f:for>
</div>



<f:section name="stars">
	<fieldset class="rate my-0">
		<input type="radio" id="rating10" name="rating" value="10" /><label class="{f:if(condition: '{rating}>4.5', then: 'active')}" for="rating10" title="<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:product.rating.stars.5" />"></label>
	    <input type="radio" id="rating9" name="rating" value="9" /><label class="half {f:if(condition: '{rating}>4', then: 'active')}" for="rating9" title="<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:product.rating.stars.5" />"></label>
	    <input type="radio" id="rating8" name="rating" value="8" /><label class="{f:if(condition: '{rating}>3.5', then: 'active')}" for="rating8" title="<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:product.rating.stars.4" />"></label>
	    <input type="radio" id="rating7" name="rating" value="7" /><label class="half {f:if(condition: '{rating}>3', then: 'active')}" for="rating7" title="<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:product.rating.stars.4" />"></label>
	    <input type="radio" id="rating6" name="rating" value="6" /><label class="{f:if(condition: '{rating}>2.5', then: 'active')}" for="rating6" title="<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:product.rating.stars.3" />"></label>
	    <input type="radio" id="rating5" name="rating" value="5" /><label class="half {f:if(condition: '{rating}>2', then: 'active')}" for="rating5" title="<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:product.rating.stars.3" />"></label>
	    <input type="radio" id="rating4" name="rating" value="4" /><label class="{f:if(condition: '{rating}>1.5', then: 'active')}" for="rating4" title="<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:product.rating.stars.2" />"></label>
	    <input type="radio" id="rating3" name="rating" value="3" /><label class="half {f:if(condition: '{rating}>1', then: 'active')}" for="rating3" title="<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:product.rating.stars.2" />"></label>
	    <input type="radio" id="rating2" name="rating" value="2" /><label class="{f:if(condition: '{rating}>0', then: 'active')}" for="rating2" title="<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:product.rating.stars.1" />"></label>
	    <input type="radio" id="rating1" name="rating" value="1" /><label class="half {f:if(condition: '{rating}>0', then: 'active')}" for="rating1" title="<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:product.rating.stars.1" />"></label>
	</fieldset>
</f:section>