{namespace maagitproduct=Maagit\Maagitproduct\ViewHelpers}
<f:variable name="rating"><maagitproduct:rating productUid="{data.uid}" /></f:variable>

<f:if condition="{rating}>0">
<a href="" class="small rating-link js-tx-maagitproduct-rating" data-product="{data.uid}" title="<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:product.rating.detail.link" />">
</f:if>
	<fieldset class="rate" data-product="{data.uid}">
		<input type="radio" id="rating10" name="rating" value="10" /><label class="reflect {f:if(condition: '{rating}>4.5', then: 'active')}" for="rating10" title="<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:product.rating.stars.5" />" data-product="{data.uid}"></label>
	    <input type="radio" id="rating9" name="rating" value="9" /><label class="half reflect {f:if(condition: '{rating}>4', then: 'active')}" for="rating9" title="<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:product.rating.stars.5" />" data-product="{data.uid}"></label>
	    <input type="radio" id="rating8" name="rating" value="8" /><label class="reflect {f:if(condition: '{rating}>3.5', then: 'active')}" for="rating8" title="<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:product.rating.stars.4" />" data-product="{data.uid}"></label>
	    <input type="radio" id="rating7" name="rating" value="7" /><label class="half reflect {f:if(condition: '{rating}>3', then: 'active')}" for="rating7" title="<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:product.rating.stars.4" />" data-product="{data.uid}"></label>
	    <input type="radio" id="rating6" name="rating" value="6" /><label class="reflect {f:if(condition: '{rating}>2.5', then: 'active')}" for="rating6" title="<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:product.rating.stars.3" />" data-product="{data.uid}"></label>
	    <input type="radio" id="rating5" name="rating" value="5" /><label class="half reflect {f:if(condition: '{rating}>2', then: 'active')}" for="rating5" title="<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:product.rating.stars.3" />" data-product="{data.uid}"></label>
	    <input type="radio" id="rating4" name="rating" value="4" /><label class="reflect {f:if(condition: '{rating}>1.5', then: 'active')}" for="rating4" title="<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:product.rating.stars.2" />" data-product="{data.uid}"></label>
	    <input type="radio" id="rating3" name="rating" value="3" /><label class="half reflect {f:if(condition: '{rating}>1', then: 'active')}" for="rating3" title="<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:product.rating.stars.2" />" data-product="{data.uid}"></label>
	    <input type="radio" id="rating2" name="rating" value="2" /><label class="reflect {f:if(condition: '{rating}>0', then: 'active')}" for="rating2" title="<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:product.rating.stars.1" />" data-product="{data.uid}"></label>
	    <input type="radio" id="rating1" name="rating" value="1" /><label class="half reflect {f:if(condition: '{rating}>0', then: 'active')}" for="rating1" title="<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:product.rating.stars.1" />" data-product="{data.uid}"></label>
	</fieldset>
<f:if condition="{rating}>0">
</a>
</f:if>