<f:variable name="urlSearchParameterValue"><f:cObject typoscriptObjectPath="lib.tx_maagitproduct.gpvariables" data="tx_maagitproduct_list|search" /></f:variable>

<div id="searchFilter" class="accordion">
	<div  class="card">
		<div class="card-header p-0">
			<button type="button" class="btn btn-block text-left bg-light font-weight-bold" data-toggle="collapse" data-target="#collapseSearch">
				<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:product.search.label" /><i class="float-right text-muted pt-1 fa-search fa"></i>
			</button>
		</div>
		<div id="collapseSearch" class="collapse" data-parent="#searchFilter">
			<form id="frmMaagitproductSearch" action="">
				<div class="form-group row m-2 p-0">
					<div class="col-9 m-0 p-0">
						<input type="search" class="form-control" id="maagitproduct-search" name="tx_maagitproduct_list[search]" value="{urlSearchParameterValue}" onfocus="this.select();" placeholder="<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:product.search.placeholder" />" />
					</div>
					<div class="col-3 m-0 p-0">
						<button type="submit" class="btn btn-primary w-100"><f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:product.search.button" /></button>						
					</div>
				</div>
			</form>
		</div>
	</div>
</div>