<f:variable name="urlSortParameterValue"><f:cObject typoscriptObjectPath="lib.tx_maagitproduct.gpvariables" data="tx_maagitproduct_list|sort" /></f:variable>

<div class="col-12 m-0 p-0">
	<div class="input-group mb-3">
		<div class="input-group-prepend">
			<label class="input-group-text" for="maagitproduct-sort"><f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:product.sort.label" /></label>
		</div>
		<select class="custom-select" id="maagitproduct-sort" name="tx_maagitproduct_list[sort]">
			<option value=""><f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:product.sort.choose" /></option>
			<option value="8" {f:if(condition: '{urlSortParameterValue}==8', then: 'selected')}><f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:product.sort.alphabetical" /></option>
			<option value="6" {f:if(condition: '{urlSortParameterValue}==6', then: 'selected')}><f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:product.sort.newest" /></option>
			<option value="7" {f:if(condition: '{urlSortParameterValue}==7', then: 'selected')}><f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:product.sort.oldest" /></option>
			<option value="9" {f:if(condition: '{urlSortParameterValue}==9', then: 'selected')}><f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:product.sort.priceLowest" /></option>
			<option value="10" {f:if(condition: '{urlSortParameterValue}==10', then: 'selected')}><f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:product.sort.priceHighest" /></option>
		</select>
	</div>
</div>