{namespace maagitproduct=Maagit\Maagitproduct\ViewHelpers}
<f:variable name="urlTypesParameterValue"><f:cObject typoscriptObjectPath="lib.tx_maagitproduct.gpvariables" data="tx_maagitproduct_list|types" /></f:variable>
<maagitproduct:tsConfig keys="{0: 'tx_maagitproduct_type.', 1: 'addItems.'}" prefix="{}" pid="{settings.product.filter.typeList.pid}" as="types" />
<maagitproduct:split subject="{urlTypesParameterValue}" delimiter="," as="urlTypes" />

<f:for each="{types}" as="type">
	<f:if condition="{type.key}!='-1' && {type.key}!='-2'">
		<li class="list-group-item dropdown-item">
			<div class="custom-control custom-checkbox mr-sm-2 mb-0">
				<f:variable name="checked"></f:variable>
				<f:for each="{urlTypes}" as="urlType">
					<f:if condition="{urlType}=={type.key}">
						<f:variable name="checked">checked</f:variable>
					</f:if>
				</f:for>
				<f:form.checkbox id="type-{type.key}" value="{type.key}" class="custom-control-input ml-1 type-item" checked="{checked}" />
				<label for="type-{type.key}" class="custom-control-label ml-2 d-block">{type.value}</label>
			</div>
		</li>
	</f:if>
</f:for>