<f:if condition="{settings.checkout.useBootstrapTemplates}">
	<f:variable name="pathSegment">Bootstrap/</f:variable>
</f:if>

<f:if condition="{settings.checkout.useBootstrapTemplates}==0">
	<div class="tx-maagitproduct">
</f:if>
	<f:if condition="{controller}=='basket' || {controller}=='checkout' || {controller}=='confirmation'">
		<f:if condition="{f:cObject(typoscriptObjectPath: 'lib.tx_maagitproduct.gpvariables', data: 'requirementsCheck')}!=true">
			<noscript>
				<!-- Redirect to failure page and tell us that JS is not enabled -->
				<meta HTTP-EQUIV='REFRESH' content='0; {javascriptDisabledUri}'>
			</noscript>
			<script>
				function getAjax(link, callback) {
					xmlhttp = new XMLHttpRequest();
					xmlhttp.onreadystatechange=function() {
						if (xmlhttp.readyState==4 && xmlhttp.status==200) {
							callback();
						}
					}
					xmlhttp.open('GET', link, true);
					xmlhttp.send();
				}

				function redirect(cookiesEnabled) {
					// get jquery version
					if (typeof jQuery != 'undefined') {jqueryVersion = jQuery.fn.jquery;} else {jqueryVersion = 'false';}

					// cookies not allowed, redirect
					if (cookiesEnabled=='false') {
			    		link = '<f:format.raw>{cookiesDisabledUri}</f:format.raw>'.replace('&amp;', '&');
						link = link + '&jqueryVersion='+jqueryVersion;
						location.href = link;
						return;
			    	}

					// cookies are allowed, check jquery
					link = '<f:format.raw>{jqueryCheckUri}</f:format.raw>'.replace('&amp;', '&');
					link = link + '&jqueryVersion='+jqueryVersion;
					getAjax(link, function() {
						redirectJQuery(xmlhttp.responseText);
					});
				}
			
				function redirectJQuery(jqueryOK) {
					// get jquery version
					if (typeof jQuery != 'undefined') {jqueryVersion = jQuery.fn.jquery;} else {jqueryVersion = 'false';}
					if (jqueryOK=='false') {
			    		link = '<f:format.raw>{jqueryFailedUri}</f:format.raw>'.replace('&amp;', '&');
						link = link + '&jqueryVersion='+jqueryVersion;
						location.href = link;
						return;
			    	}
				}

				document.addEventListener('DOMContentLoaded', function(event) {
					link = '<f:format.raw>{cookiesCheckUri}</f:format.raw>'.replace('&amp;', '&');
					getAjax(link, function() {
						redirect(xmlhttp.responseText);
					});
				});
			</script>
		</f:if>
	</f:if>
	<f:render section="main" />	
<f:if condition="{settings.checkout.useBootstrapTemplates}==0">
	</div>
</f:if>