<f:form action="" id="basketForm">
	<f:form.hidden name="action" id="basketAction" value="" />
	<f:form.hidden name="uid" id="basketUid" value="" />
	<f:form.hidden name="unit" id="basketUnit" value="" />
	<f:form.hidden name="quantity" id="basketQuantity" value="" />
	<input type="hidden" name="id" value="{f:cObject(typoscriptObjectPath: 'lib.tx_maagitproduct.pageid')}" />
	<input type="hidden" name="type" value="{settings.basket.ajaxBasketTypeNum}" />
</f:form>

<f:if condition="{settings.basket.templateBasketOnTop}">
	<div class="tx-maagitproduct-basket__minordersign">
		<f:format.raw><f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:basket.minordervalue.sign" /></f:format.raw>
	</div>
</f:if>
<div class="tx-maagitproduct-basket tx-maagitproduct-basket--empty js-tx-maagitproduct-basket">
	<a href="" class="tx-maagitproduct-basket__trigger text-replace">
		<f:format.raw><f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:basket.label" /></f:format.raw>
		<ul class="tx-maagitproduct-basket__count">
			<li>0</li>
			<li>0</li>
		</ul>
	</a>
	
	<div class="tx-maagitproduct-basket__content">
		<f:render partial="Basket/BasketContent" arguments="{basket: basket, basketItems: basket.basketItems, settings: settings}" />
	</div>
</div>