<div class="tx-maagitproduct-basket__layout">
	<header class="tx-maagitproduct-basket__header">
		<h2>Warenkorb</h2>
	</header>

	<div class="tx-maagitproduct-basket__body">
		<ul>
			<f:for each="{basketItems}" as="basketItem">
				<li class="tx-maagitproduct-basket__product">
					<div class="tx-maagitproduct-basket__image">
						<f:for each="{basketItem.product.assets}" as="asset" iteration="iterator">
							<f:if condition="{iterator.isFirst}">
							<img src="{asset.pathAndFilename}" />
							</f:if>
						</f:for>
					</div>
					<div class="tx-maagitproduct-basket__details">
						<h3 class="truncate">
							{basketItem.product.header}
							<f:if condition="{basketItem.unitDescription}">
								<span class="tx-maagitproduct-basket__unit">({basketItem.unitDescription})
							</f:if>
						</h3>
						<f:if condition="{basketItem.unit}">
							<f:then>
								<f:variable name="price">{basketItem.unitPrice}</f:variable>
							</f:then>
							<f:else>
								<f:variable name="price">{basketItem.product.price}</f:variable>
							</f:else>
						</f:if>
						<span class="tx-maagitproduct-basket__price"><f:render partial="Div/Currency" section="renderCurrency" arguments="{amount: price}" /></span>
						<div class="tx-maagitproduct-basket__actions">
							<a href="" class="tx-maagitproduct-basket__delete-item js-tx-maagitproduct-remove-from-basket" data-product="{basketItem.product.uid}" data-unit="{basketItem.unit}"><f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:basket.commands.remove" /></a>
							<f:format.html><f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:basket.commands.delimiter" /></f:format.html>
							<div class="tx-maagitproduct-basket__quantity">
								<f:if condition="{basketItem.product.orderQuantity -> f:count()} > 1">
								<f:then>
									<label for="tx-maagitproduct-product-{basketItem.product.uid}"><f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:basket.commands.quantity" /></label>
									<span class="tx-maagitproduct-basket__select">
										<select class="reset" data-product="{basketItem.product.uid}" data-unit="{basketItem.unit}" name="quantity">
											<f:for each="{basketItem.product.orderQuantity}" as="orderQuantity" iteration="iterator">
												<option value="{orderQuantity.value}" {f:if(condition: '{basketItem.quantity} == {orderQuantity.value}', then: 'selected="selected"')}>{orderQuantity.text}</option>
											</f:for>
										</select>
										<svg class="icon" viewBox="0 0 12 12">
											<polyline fill="none" stroke="currentColor" points="2,4 6,8 10,4 "/>
										</svg>
									</span>
								</f:then>
								<f:else>
									<f:if condition="{basketItem.product.orderQuantity -> f:count()} < 1">
									<f:then>
										<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:basket.commands.quantity" /> 1
										<input type="hidden" data-product="{basketItem.product.uid}" data-unit="{basketItem.unit}" name="quantity" value="1" />
									</f:then>
									<f:else>
										<f:for each="{basketItem.product.orderQuantity}" as="orderQuantity" iteration="iterator">
											<f:if condition="{iterator.isFirst}">
												<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:basket.commands.quantity" /> {orderQuantity.value}
												<input type="hidden" data-product="{basketItem.product.uid}" data-unit="{basketItem.unit}" name="quantity" value="{orderQuantity.value}" />
											</f:if>
										</f:for>
									</f:else>
									</f:if>
								</f:else>
								</f:if>
							</div>
						</div>
					</div>
				</li>
			</f:for>
		</ul>
	</div>

	<footer class="tx-maagitproduct-basket__footer">
		<f:if condition="{basket.minOrderValue}>0">
			<div class="tx-maagitproduct-basket__hidden">
				<div id="paramBasketAmount">{basket.amount}</div>
				<div id="paramBasketMinOrderValue">{basket.minOrderValue}</div>
				<div id="paramBasketMinOrderValueReached">{f:if(condition: "{basket.amount}>={basket.minOrderValue}", then: "true", else: "false")}</div>
			</div>
		</f:if>
		<f:if condition="{basket.minOrderValue}>0">
			<f:if condition="{basket.amount}>={basket.minOrderValue}">
				<f:then>
					<div class="tx-maagitproduct-basket__minordervalue">
						<f:variable name="value"><f:render partial="Div/Currency" section="renderCurrency" arguments="{amount: basket.minOrderValue}" /></f:variable>
						<f:format.html><f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:basket.minordervalue.reached" arguments="{0: '{value}'}" /></f:format.html>
					</div>
				</f:then>
				<f:else>
					<div class="tx-maagitproduct-basket__minordervalue">
						<f:variable name="value"><f:render partial="Div/Currency" section="renderCurrency" arguments="{amount: basket.minOrderValue}" /></f:variable>
						<f:format.html><f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:basket.minordervalue.notreached" arguments="{0: '{value}'}" /></f:format.html>
					</div>
				</f:else>
			</f:if>
		</f:if>
		
		<f:link.page pageUid="{settings.basket.checkout.pid}" class="tx-maagitproduct-basket__checkout">
			<em><f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:basket.commands.checkout" /><span><f:render partial="Div/Currency" section="renderCurrency" arguments="{amount: basket.amount}" /></span>
				<svg class="icon icon--sm" viewBox="0 0 24 24">
					<g fill="none" stroke="currentColor">
						<line stroke-width="2" stroke-linecap="round" stroke-linejoin="round" x1="3" y1="12" x2="21" y2="12"/>
						<polyline stroke-width="2" stroke-linecap="round" stroke-linejoin="round" points="15,6 21,12 15,18 "/>
					</g>
				</svg>
			</em>
		</f:link.page>
	</footer>
</div>