<f:if condition="{settings.checkout.useBootstrapTemplates}==0">
	<div class="tx-maagitproduct-checkout">
</f:if>
	<f:form action="" id="checkoutForm" name="checkout" object="{checkout}" requestToken="{requestToken}">
		<!-- hidden field to go step by step through the actions -->
		<f:form.hidden name="action" id="checkoutAjaxAction" value="" />
		<f:form.hidden id="checkoutAction" property="action" />
		<f:form.hidden id="productUid" name="productUid" value="" />
		<f:form.hidden id="productUnit" name="productUnit" value="" />
		<f:form.hidden id="productQuantity" name="productQuantity" value="" />
		<input type="hidden" name="tx_maagitproduct_checkout[action]" id="formAction" value="" />
		<input type="hidden" name="id" value="{f:cObject(typoscriptObjectPath: 'lib.tx_maagitproduct.pageid')}" />
		<input type="hidden" name="type" id="checkoutTypeNum" value="" />
		<input type="hidden" id="checkoutAjaxTypeNum" value="{settings.checkout.ajaxCheckoutTypeNum}" />

		<!-- flags to see, if a step is visited an/or is valid -->
		<f:if condition="{settings.checkout.login.step}">
			<f:form.hidden id="loginVisited" property="login.visited" />
			<f:form.hidden id="loginValid" property="login.valid" />
		</f:if>
		<f:form.hidden id="addressVisited" property="address.visited" />
		<f:form.hidden id="addressValid" property="address.valid" />
		<f:form.hidden id="deliveryVisited" property="delivery.visited"/>
		<f:form.hidden id="deliveryValid" property="delivery.valid" />
		<f:form.hidden id="paymentVisited" property="payment.visited" />
		<f:form.hidden id="paymentValid" property="payment.valid" />
		<f:if condition="{settings.checkout.coupon.step}">
			<f:form.hidden id="couponVisited" property="coupon.visited" />
			<f:form.hidden id="couponValid" property="coupon.valid" />
		</f:if>
		<f:if condition="{settings.checkout.sending.condition}==2">
			<f:form.hidden id="termsVisited" property="terms.visited" />
			<f:form.hidden id="termsValid" property="terms.valid" />
		</f:if>
		<f:form.hidden id="summaryVisited" property="summary.visited" />
		<f:form.hidden id="summaryValid" property="summary.valid" />
		
		<!-- order id -->
		<f:form.hidden id="orderId" property="orderId" />

		<!-- informations about payment processes -->
		<f:form.hidden id="paymentError" property="payment.paymentError" />

		<!-- keep login data, if this isn't the active step -->
		<f:if condition="{settings.checkout.login.step}">
			<f:if condition="{checkout.action} != 'login'">
				<f:form.hidden property="login.guest" />
				<f:form.hidden property="login.username" />
				<f:form.hidden property="login.lastError" />
			</f:if>
		</f:if>

		<!-- keep address data, if this isn't the active step -->
		<f:if condition="{checkout.action} != 'address'">
			<f:for each="{checkout.address.addressFields}" as="field">
			    <f:form.hidden property="address.{field}" />
			</f:for>
			<f:if condition="{settings.checkout.address.bill}">
				<f:form.hidden property="address.bill" />
			</f:if>
		</f:if>

		<!-- keep billing address data, if this isn't the active step -->
		<f:if condition="{checkout.action} != 'address' && {settings.checkout.address.bill}">
			<f:for each="{checkout.address.billingAddress.addressFields}" as="field">
		    	<f:form.hidden property="address.billingAddress.{field}" />
			</f:for>
		</f:if>

		<!-- keep delivery data, if this isn't the active step -->
		<f:if condition="{checkout.action} != 'delivery'">
			<f:form.hidden property="delivery.deliveryMethod" />
		</f:if>
		
		<!-- keep payment data, if this isn't the active step -->
		<f:if condition="{checkout.action} != 'payment'">
			<f:form.hidden property="payment.paymentMethod" />
		</f:if>

		<!-- keep coupon data, if this isn't the active step -->
		<f:if condition="{settings.checkout.coupon.step}">
			<f:if condition="{checkout.action} == 'coupon'">
				<input type="hidden" id="couponChanged" name="couponChanged" value="" />
			</f:if>
			<f:if condition="{checkout.action} != 'coupon'">
				<f:form.hidden property="coupon.code" />
				<f:form.hidden property="coupon.text" />
				<f:form.hidden property="coupon.amount" />
			</f:if>
		</f:if>

		<!-- keep terms data, if this isn't the active step -->
		<f:if condition="{settings.checkout.sending.condition}==2">
			<f:if condition="{checkout.action} == 'terms'">
				<input type="hidden" id="termsChanged" name="termsChanged" value="" />
			</f:if>
			<f:if condition="{checkout.action} != 'terms'">
				<f:form.hidden property="terms.accepted" />
			</f:if>
		</f:if>

		<!-- data's to save in request arguments (for using from typoscript) -->
		<f:if condition="{checkout.action} == 'summary'">
			<f:form.hidden property="basket.tsBasket" />
			<f:form.hidden property="basket.tsDownload" />
			<f:form.hidden property="basket.tax" />
			<f:form.hidden property="delivery.shipping" />
			<f:form.hidden property="payment.expenses" />
			<f:form.hidden property="total" />
		</f:if>


		<f:render partial="{pathSegment}Checkout/Steps" arguments="{_all}" />
	</f:form>
<f:if condition="{settings.checkout.useBootstrapTemplates}==0">
	</div>
</f:if>