<f:if condition="{checkout.basket.basketItems->f:count()}>0">
	<div class="columns-wrapper">
		<div class="columns-left">
			<div class="cols">
				<f:if condition="{settings.checkout.login.step}">
					<div class="row" id="login">
						<f:variable name="stepNumber">1</f:variable>
						<f:render partial="{pathSegment}Checkout/Content/Login" arguments="{settings: settings, checkout: checkout, current: 'login', visited: checkout.login.visited, valid: checkout.login.valid, stepNumber: stepNumber}" />
					</div>
				</f:if>
				<div class="row" id="address">
					<f:variable name="stepNumber">1</f:variable><f:if condition="{settings.checkout.login.step}"><f:variable name="stepNumber">{stepNumber+1}</f:variable></f:if>
					<f:render partial="{pathSegment}Checkout/Content/Address" arguments="{settings: settings, checkout: checkout, current: 'address', visited: checkout.address.visited, valid: checkout.address.valid, stepNumber: stepNumber}" />
				</div>
				<div class="row" id="delivery">
					<f:variable name="stepNumber">2</f:variable><f:if condition="{settings.checkout.login.step}"><f:variable name="stepNumber">{stepNumber+1}</f:variable></f:if>
					<f:render partial="{pathSegment}Checkout/Content/Delivery" arguments="{settings: settings, checkout: checkout, current: 'delivery', visited: checkout.delivery.visited, valid: checkout.delivery.valid, stepNumber: stepNumber}" />
				</div>
				<div class="row" id="payment">
					<f:variable name="stepNumber">3</f:variable><f:if condition="{settings.checkout.login.step}"><f:variable name="stepNumber">{stepNumber+1}</f:variable></f:if>
					<f:render partial="{pathSegment}Checkout/Content/Payment" arguments="{settings: settings, checkout: checkout, current: 'payment', visited: checkout.payment.visited, valid: checkout.payment.valid, stepNumber: stepNumber}" />
				</div>
				<f:if condition="{settings.checkout.coupon.step}">
					<div class="row" id="coupon">
						<f:variable name="stepNumber">4</f:variable><f:if condition="{settings.checkout.login.step}"><f:variable name="stepNumber">{stepNumber+1}</f:variable></f:if>
						<f:render partial="{pathSegment}Checkout/Content/Coupon" arguments="{settings: settings, checkout: checkout, current: 'coupon', visited: checkout.coupon.visited, valid: checkout.coupon.valid, stepNumber: stepNumber}" />
					</div>
				</f:if>
				<f:if condition="{settings.checkout.sending.condition}==2">
					<div class="row" id="terms">
						<f:variable name="stepNumber">4</f:variable><f:if condition="{settings.checkout.login.step}"><f:variable name="stepNumber">{stepNumber+1}</f:variable></f:if>
						<f:if condition="{settings.checkout.coupon.step}"><f:variable name="stepNumber">{stepNumber+1}</f:variable></f:if>
						<f:render partial="{pathSegment}Checkout/Content/Terms" arguments="{settings: settings, checkout: checkout, current: 'terms', visited: checkout.terms.visited, valid: checkout.terms.valid, stepNumber: stepNumber}" />
					</div>
				</f:if>
			</div>
		</div>
		<div class="columns-right">
			<div class="cols">
				<div class="row" id="summary">
					<f:variable name="stepNumber">4</f:variable><f:if condition="{settings.checkout.login.step}"><f:variable name="stepNumber">{stepNumber+1}</f:variable></f:if>
					<f:if condition="{settings.checkout.coupon.step}"><f:variable name="stepNumber">{stepNumber+1}</f:variable></f:if>
					<f:if condition="{settings.checkout.sending.condition}==2"><f:variable name="stepNumber">{stepNumber+1}</f:variable></f:if>
					<f:render partial="{pathSegment}Checkout/Content/Summary" arguments="{settings: settings, checkout: checkout, current: 'summary', visited: checkout.summary.visited, valid: checkout.summary.valid, stepNumber: stepNumber}" />
				</div>
			</div>
		</div>
	</div>
	<div class="clear"></div>
</f:if>



<f:if condition="{checkout.basket.basketItems->f:count()}==0">
	<div class="columns-wrapper">
		<div class="columns-left">
			<div class="cols">
				<div class="row" id="summary">
					<f:variable name="stepNumber">1</f:variable>
					<f:render partial="{pathSegment}Checkout/Content/Summary" arguments="{settings: settings, checkout: checkout, current: 'summary', visited: checkout.summary.visited, valid: checkout.summary.valid, stepNumber: stepNumber}" />
				</div>
			</div>
		</div>
	</div>
	<div class="clear"></div>
</f:if>