<f:layout name="Filter" />
<f:section name="main">
	<f:if condition="!{settings.product.filter.typeList.pid}">
		<f:then>
			<i><f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:product.filter.type.missingPid" /></i>
		</f:then>
		<f:else>
			<f:render partial="Product/FilterType" arguments="{_all}" />
		</f:else>
	</f:if>
</f:section>