<table width="100%" style="border-collapse: collapse;">
	<tr style="vertical-align: top">
		<td style="font-size: 12px; border-right: 1px solid silver; width: 33%;">
			<h2 style="font-size: 12px; font-weight: bold; margin-bottom: 2px;">Lieferadresse</h2>
			<f:if condition="{checkout.address.firma}">{checkout.address.firma}<br /></f:if>
			<f:if condition="{checkout.address.salutation}">{checkout.address.salutation}<br /></f:if>
			<f:if condition="{checkout.address.prename} || {checkout.address.lastname}"><f:then>
				{checkout.address.prename}<f:if condition="{checkout.address.lastname}"> </f:if>{checkout.address.lastname}<br />
			</f:then></f:if>
			<f:if condition="{checkout.address.address}==''">
				<f:if condition="{checkout.address.street} || {checkout.address.houseNumber} || {checkout.address.houseAdd}"><f:then>
					{checkout.address.street} {checkout.address.houseNumber}{checkout.address.houseAdd}<br />
				</f:then></f:if>
			</f:if>
			<f:if condition="{checkout.address.address}">{checkout.address.address}<br /></f:if>
			<f:if condition="{checkout.address.poCity}==''">
				<f:if condition="{checkout.address.po} || {checkout.address.city}"><f:then>
					{checkout.address.po}<f:if condition="{checkout.address.city}"> </f:if>{checkout.address.city}<br />
				</f:then></f:if>
			</f:if>
			<f:if condition="{checkout.address.poCity}">{checkout.address.poCity}<br /></f:if>
			<f:if condition="{checkout.address.country}">{checkout.address.country}<br /></f:if>
			<h3 style="font-size: 11px; font-weight: bold; margin-bottom: 2px;">Kontaktdaten</h2>
			<f:if condition="{checkout.address.telephone} || {checkout.address.mobile} || {checkout.address.email}">
				<f:then>
					<f:if condition="{checkout.address.telephone}"><f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:checkout.summary.additionalInfos.telephone" />: {checkout.address.telephone}<br /></f:if>
					<f:if condition="{checkout.address.mobile}"><f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:checkout.summary.additionalInfos.mobile" />: {checkout.address.mobile}<br /></f:if>
					<f:if condition="{checkout.address.email}"><f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:checkout.summary.additionalInfos.email" />: {checkout.address.email}<br /></f:if>
				</f:then>
				<f:else>
					-
				</f:else>
			</f:if>
			<f:if condition="{checkout.address.bill}">
				<br /><h2 style="font-size: 12px; font-weight: bold; margin-bottom: 2px;">Rechnungsadresse</h2>
				<f:if condition="{checkout.address.billingAddress.firma}">{checkout.address.billingAddress.firma}<br /></f:if>
				<f:if condition="{checkout.address.billingAddress.salutation}">{checkout.address.billingAddress.salutation}<br /></f:if>
				<f:if condition="{checkout.address.billingAddress.prename} || {checkout.address.billingAddress.lastname}"><f:then>
					{checkout.address.billingAddress.prename}<f:if condition="{checkout.address.billingAddress.lastname}"> </f:if>{checkout.address.billingAddress.lastname}<br />
				</f:then></f:if>
				<f:if condition="{checkout.address.billingAddress.address}==''">
					<f:if condition="{checkout.address.billingAddress.street} || {checkout.address.billingAddress.houseNumber} || {checkout.address.billingAddress.houseAdd}"><f:then>
						{checkout.address.billingAddress.street} {checkout.address.billingAddress.houseNumber}{checkout.address.billingAddress.houseAdd}<br />
					</f:then></f:if>
				</f:if>
				<f:if condition="{checkout.address.billingAddress.address}">{checkout.address.billingAddress.address}<br /></f:if>
				<f:if condition="{checkout.address.billingAddress.poCity}==''">
					<f:if condition="{checkout.address.billingAddress.po} || {checkout.address.billingAddress.city}"><f:then>
						{checkout.address.billingAddress.po}<f:if condition="{checkout.address.billingAddress.city}"> </f:if>{checkout.address.billingAddress.city}<br />
					</f:then></f:if>
				</f:if>
				<f:if condition="{checkout.address.billingAddress.poCity}">{checkout.address.billingAddress.poCity}<br /></f:if>
				<f:if condition="{checkout.address.billingAddress.country}">{checkout.address.billingAddress.country}<br /></f:if>
				<h3 style="font-size: 11px; font-weight: bold; margin-bottom: 2px;">Kontaktdaten</h2>
				<f:if condition="{checkout.address.billingAddress.telephone} || {checkout.address.billingAddress.mobile} || {checkout.address.billingAddress.email}">
					<f:then>
						<f:if condition="{checkout.address.billingAddress.telephone}"><f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:checkout.summary.additionalInfos.telephone" />: {checkout.address.billingAddress.telephone}<br /></f:if>
						<f:if condition="{checkout.address.billingAddress.mobile}"><f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:checkout.summary.additionalInfos.mobile" />: {checkout.address.billingAddress.mobile}<br /></f:if>
						<f:if condition="{checkout.address.billingAddress.email}"><f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:checkout.summary.additionalInfos.email" />: {checkout.address.billingAddress.email}<br /></f:if>
					</f:then>
					<f:else>
						-
					</f:else>
				</f:if>
			</f:if>
		</td>
		<td style="font-size: 12px; border-right: 1px solid silver; padding-left: 10px; width: 33%;">
			<h2 style="font-size: 12px; font-weight: bold; margin-bottom: 2px;">Lieferung</h2>
			<f:if condition="{checkout.basket.hasDownloads}">
				<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:checkout.mail.download.link" /><br />
			</f:if>
			<f:if condition="{checkout.basket.hasOnlyDownloads}==false">
				<f:if condition="{checkout.delivery.deliveryMethodInfo.text}">
					<f:then>
						{checkout.delivery.deliveryMethodInfo.text}
					</f:then>
					<f:else>
						-
					</f:else>
				</f:if>
			</f:if>
		</td>
		<td style="font-size: 12px; padding-left: 10px; width: 34%;">
			<h2 style="font-size: 12px; font-weight: bold; margin-bottom: 2px;">Bezahlung</h2>
			<f:if condition="{checkout.total}==0">
				<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:checkout.payment.free" /><br />
			</f:if>
			<f:if condition="{checkout.total}>0">
				<f:switch expression="{checkout.payment.paymentMethod}">
					<f:case value="cash">
						<f:format.raw><f:if condition="{checkout.payment.paymentMethodCashInfo}!=''"><f:then><span style="text-decoration: underline;">{checkout.payment.paymentMethodInfo.text}:</span>{checkout.payment.paymentMethodCashInfo}</f:then><f:else>{checkout.payment.paymentMethodInfo.text}</f:else></f:if></f:format.raw>
					</f:case>
					<f:case value="bill">
						<f:format.raw><f:if condition="{checkout.payment.paymentMethodBillInfo}!=''"><f:then><span style="text-decoration: underline;">{checkout.payment.paymentMethodInfo.text}:</span>{checkout.payment.paymentMethodBillInfo}</f:then><f:else>{checkout.payment.paymentMethodInfo.text}</f:else></f:if></f:format.raw>
					</f:case>
					<f:case value="advance">
						<f:format.raw><f:if condition="{checkout.payment.paymentMethodAdvanceInfo}!=''"><f:then><span style="text-decoration: underline;">{checkout.payment.paymentMethodInfo.text}:</span>{checkout.payment.paymentMethodAdvanceInfo}</f:then><f:else>{checkout.payment.paymentMethodInfo.text}</f:else></f:if></f:format.raw>
					</f:case>
					<f:case value="twint">
						<f:format.raw><f:if condition="{checkout.payment.paymentMethodTwintInfo}!=''"><f:then><span style="text-decoration: underline;">{checkout.payment.paymentMethodInfo.text}:</span>{checkout.payment.paymentMethodTwintInfo}</f:then><f:else>{checkout.payment.paymentMethodInfo.text}</f:else></f:if></f:format.raw>
					</f:case>
					<f:defaultCase>
						<f:format.raw><f:if condition="{checkout.payment.paymentMethodInfo.text}"><f:then>{checkout.payment.paymentMethodInfo.text}</f:then><f:else>-</f:else></f:if></f:format.raw>
					</f:defaultCase>
				</f:switch>
			</f:if>
			<f:if condition="{checkout.payment.paymentOK}==true">
				<f:then>
					<f:if condition="{checkout.payment.paymentMessage}!=''">
						<f:format.raw><span style="color: green; font-style: italic;">{checkout.payment.paymentMessage}</span></f:format.raw>
					</f:if>
				</f:then>
				<f:else>
					<f:if condition="{checkout.payment.paymentError}!=''">
						<f:format.raw><span style="color: red; font-style: italic;">{checkout.payment.paymentError}</span></f:format.raw>
					</f:if>
				</f:else>
			</f:if>
		</td>
	</tr>
	<f:if condition="{checkout.address.message}">
		<tr style="vertical-align: top">
			<td colspan="3" style="font-size: 12px; padding-top: 25px;">
				<h2 style="font-size: 12px; font-weight: bold; margin-bottom: 2px;">
					<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:checkout.summary.additionalInfos.message" />
				</h2>
				<f:format.raw>{checkout.address.message}</f:format.raw>
			</td>
		</tr>
	</f:if>
	<f:if condition="{settings.checkout.sending.condition}!=0">
		<tr style="vertical-align: top">
			<td colspan="3" style="font-size: 12px; padding-top: 25px;">
				<h2 style="font-size: 12px; font-weight: bold; margin-bottom: 2px;">
					<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:checkout.mail.agb.title" />
				</h2>
				<f:if condition="{settings.checkout.sending.condition}==1">
					<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:checkout.mail.agb.1" />
				</f:if>
				<f:if condition="{settings.checkout.sending.condition}==2">
					<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:checkout.mail.agb.2" />
				</f:if>
				<f:link.typolink parameter="{checkout.agbUrl}">
					<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:checkout.mail.agb.link" />
				</f:link.typolink>
			</td>
		</tr>
	</f:if>
</table>