<table width="100%">
	<tr style="vertical-align: top;">
		<th style="font-size: 12px; font-weight: bold; background-color: #ebebeb; text-align: left;"><f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:checkout.summary.product" /></th>
		<th style="font-size: 12px; font-weight: bold; background-color: #ebebeb; text-align: left;"><f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:checkout.summary.quantity" /></th>
		<th style="font-size: 12px; font-weight: bold; background-color: #ebebeb; text-align: right;"><f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:checkout.summary.price" /></th>
	</tr>
		
	<f:for each="{checkout.basket.basketItems}" as="basketItem">
		<tr style="vertical-align: top;">
			<td style="font-size: 12px;">
				{basketItem.product.header}
				<f:if condition="{basketItem.unitDescription}">
					({basketItem.unitDescription})
				</f:if>
				<f:if condition="{settings.checkout.download.separate}!=true && {basketItem.product.isDownload}==true">
					<f:if condition="{basketItem.total}==0 || {checkout.payment.paymentMethod}=='paypal' || {checkout.payment.paymentMethod}=='saferpayCredit' || {checkout.payment.paymentMethod}=='saferpayWallet' || {checkout.payment.paymentMethod}=='stripe'">
						<f:if condition="{basketItem.total}==0 || {checkout.payment.paymentOK}">
							<br />
							<f:if condition="{basketItem.product.secureLink}">
								<f:then>
									<f:link.typolink parameter="{basketItem.product.secureLink}" absolute="true" target="_blank">
										<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:checkout.send.download" />
									</f:link.typolink>&nbsp;{settings.checkout.download.secureTimeoutText}
								</f:then>
								<f:else>
									<f:link.typolink parameter="{basketItem.product.link}" absolute="true" target="_blank">
										<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:checkout.send.download" />
									</f:link.typolink>
								</f:else>
							</f:if>
						</f:if>
					</f:if>
				</f:if>
			</td>
			<td style="font-size: 12px;">
				<f:if condition="{basketItem.product.orderQuantity -> f:count()} > 0">
					<f:then>
						<f:for each="{basketItem.product.orderQuantity}" as="orderQuantity" iteration="iterator">
							<f:if condition="{basketItem.quantity} == {orderQuantity.value}">
								{orderQuantity.text}
							</f:if>
						</f:for>
					</f:then>
					<f:else>
						1
					</f:else>
				</f:if>
			</td>
			<td style="font-size: 12px; text-align: right;">
				<f:render partial="Div/Currency" section="renderCurrency" arguments="{amount: basketItem.total}" />
			</td>
		</tr>
	</f:for>
		
	<f:if condition="{settings.checkout.tax} > 0 && {settings.checkout.taxincluded} != true">
		<tr style="vertical-align: top;">
			<td style="font-size: 12px;"><f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:checkout.summary.tax" /></td>
			<td style="font-size: 12px;">{settings.checkout.tax}%</td>
			<td style="font-size: 12px; text-align: right;">
				<f:render partial="Div/Currency" section="renderCurrency" arguments="{amount: checkout.basket.tax}" />
			</td>
		</tr>
	</f:if>
		
	<f:if condition="{checkout.delivery.shipping} > 0">
		<tr style="vertical-align: top;">
			<td style="font-size: 12px;"><f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:checkout.summary.shipping" /></td>
			<td style="font-size: 12px;">&nbsp;</td>
			<td style="font-size: 12px; text-align: right;">
				<f:render partial="Div/Currency" section="renderCurrency" arguments="{amount: checkout.delivery.shipping}" />
			</td>
		</tr>
	</f:if>
		
	<f:if condition="{checkout.payment.expenses} > 0">
		<tr style="vertical-align: top;">
			<td style="font-size: 12px;"><f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:checkout.summary.expenses" /></td>
			<td style="font-size: 12px;">&nbsp;</td>
			<td style="font-size: 12px; text-align: right;">
			<f:render partial="Div/Currency" section="renderCurrency" arguments="{amount: checkout.payment.expenses}" />
		</td>
		</tr>
	</f:if>
	
	<f:if condition="{settings.checkout.coupon.step}">
		<f:if condition="{checkout.coupon.code} != ''">
			<tr style="vertical-align: top;">
				<td style="font-size: 12px;"><f:format.raw>{checkout.coupon.text}</f:format.raw></td>
				<td style="font-size: 12px;">&nbsp;</td>
				<td style="font-size: 12px; text-align: right;">
				<f:render partial="Div/Currency" section="renderCurrency" arguments="{amount: checkout.coupon.amount}" />
			</td>
			</tr>
		</f:if>
	</f:if>

	<tr style="vertical-align: top;">
		<td style="font-size: 12px; font-weight: bold; background-color: #ebebeb;">Total</td>
		<td style="font-size: 12px; font-weight: bold; background-color: #ebebeb;">&nbsp;</td>
		<td style="font-size: 12px; font-weight: bold; background-color: #ebebeb; text-align: right;">
			<f:render partial="Div/Currency" section="renderCurrency" arguments="{amount: checkout.total}" />
		</td>
	</tr>

	<f:if condition="{settings.checkout.tax} > 0 && {settings.checkout.taxincluded} == true">
		<tr style="vertical-align: top;">
			<td colspan="3" style="font-size: 10px; text-align: right;">
				<f:variable name="taxamount"><f:render partial="Div/Currency" section="renderCurrency" arguments="{amount: checkout.basket.tax}" /></f:variable>
				<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:checkout.summary.taxincluded" arguments="{0: '{settings.checkout.tax}%', 1: '{taxamount}'}" />
			</td>
		</tr>
	</f:if>
</table>