<f:if condition="{checkout.basket.basketItems->f:count()}>0">
	<div class="row">
		<div class="col-lg-6">
			<f:if condition="{settings.checkout.login.step}">
				<f:variable name="stepNumber">1</f:variable>
				<f:render partial="{pathSegment}Checkout/Content/Login" arguments="{settings: settings, checkout: checkout, current: 'login', visited: checkout.login.visited, valid: checkout.login.valid, pathSegment: pathSegment, stepNumber: stepNumber}" />
			</f:if>
			<f:variable name="stepNumber">1</f:variable><f:if condition="{settings.checkout.login.step}"><f:variable name="stepNumber">{stepNumber+1}</f:variable></f:if>
			<f:render partial="{pathSegment}Checkout/Content/Address" arguments="{settings: settings, checkout: checkout, current: 'address', visited: checkout.address.visited, valid: checkout.address.valid, pathSegment: pathSegment, stepNumber: stepNumber}" />
			<f:variable name="stepNumber">2</f:variable><f:if condition="{settings.checkout.login.step}"><f:variable name="stepNumber">{stepNumber+1}</f:variable></f:if>
			<f:render partial="{pathSegment}Checkout/Content/Delivery" arguments="{settings: settings, checkout: checkout, current: 'delivery', visited: checkout.delivery.visited, valid: checkout.delivery.valid, pathSegment: pathSegment, stepNumber: stepNumber}" />
			<f:variable name="stepNumber">3</f:variable><f:if condition="{settings.checkout.login.step}"><f:variable name="stepNumber">{stepNumber+1}</f:variable></f:if>
			<f:render partial="{pathSegment}Checkout/Content/Payment" arguments="{settings: settings, checkout: checkout, current: 'payment', visited: checkout.payment.visited, valid: checkout.payment.valid, pathSegment: pathSegment, stepNumber: stepNumber}" />
			<f:if condition="{settings.checkout.coupon.step}">
				<f:variable name="stepNumber">4</f:variable><f:if condition="{settings.checkout.login.step}"><f:variable name="stepNumber">{stepNumber+1}</f:variable></f:if>
				<f:render partial="{pathSegment}Checkout/Content/Coupon" arguments="{settings: settings, checkout: checkout, current: 'coupon', visited: checkout.coupon.visited, valid: checkout.coupon.valid, pathSegment: pathSegment, stepNumber: stepNumber}" />
			</f:if>
			<f:if condition="{settings.checkout.sending.condition}==2">
				<f:variable name="stepNumber">4</f:variable><f:if condition="{settings.checkout.login.step}"><f:variable name="stepNumber">{stepNumber+1}</f:variable></f:if>
				<f:if condition="{settings.checkout.coupon.step}"><f:variable name="stepNumber">{stepNumber+1}</f:variable></f:if>
				<f:render partial="{pathSegment}Checkout/Content/Terms" arguments="{settings: settings, checkout: checkout, current: 'terms', visited: checkout.terms.visited, valid: checkout.terms.valid, pathSegment: pathSegment, stepNumber: stepNumber}" />
			</f:if>
		</div>
	
		<div class="col-lg-6">
			<f:variable name="stepNumber">4</f:variable><f:if condition="{settings.checkout.login.step}"><f:variable name="stepNumber">{stepNumber+1}</f:variable></f:if>
			<f:if condition="{settings.checkout.coupon.step}"><f:variable name="stepNumber">{stepNumber+1}</f:variable></f:if>
			<f:if condition="{settings.checkout.sending.condition}==2"><f:variable name="stepNumber">{stepNumber+1}</f:variable></f:if>
			<f:render partial="{pathSegment}Checkout/Content/Summary" arguments="{settings: settings, checkout: checkout, current: 'summary', visited: checkout.summary.visited, valid: checkout.summary.valid, pathSegment: pathSegment, stepNumber: stepNumber}" />
		</div>
	</div>
</f:if>

<f:if condition="{checkout.basket.basketItems->f:count()}==0">
	<div class="row">
		<div class="col-lg-12">
			<f:variable name="stepNumber">1</f:variable>
			<f:render partial="{pathSegment}Checkout/Content/Summary" arguments="{settings: settings, checkout: checkout, current: 'summary', visited: checkout.summary.visited, valid: checkout.summary.valid, pathSegment: pathSegment, stepNumber: stepNumber}" />
		</div>
	</div>
</f:if>