<f:layout name="Shop" />
<f:section name="main">
	/xxxoooxxx/{changes}/xxxoooxxx/
	<f:render partial="{pathSegment}Checkout/Content/Summary" arguments="{settings: settings, checkout: checkout, current: 'summary', visited: checkout.summary.visited, valid: checkout.summary.valid, pathSegment: pathSegment, ajax: 'true'}" />
</f:section>