<f:section name="HeaderAssets">
	<link rel="stylesheet" type="text/css" href="{f:uri.resource(path:'StyleSheet/Checkout/Checkout.css', extensionName: 'maagitproduct')}" media="all">
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/icon?family=Material+Icons" media="all">
	<script src="{f:uri.resource(path:'JavaScript/Checkout/CheckoutMain.js', extensionName: 'maagitproduct')}"></script>
</f:section>
<f:layout name="Shop" />
<f:section name="main">
	<f:render partial="Checkout/Form" arguments="{_all}" />
</f:section>