<f:layout name="Stripe" />
<f:section name="main">
	<script src="https://js.stripe.com/v3/"></script>
	<script>
		var stripe = Stripe('{pk}');
		stripe.redirectToCheckout(<f:format.raw>{</f:format.raw>sessionId: '{sessionId}'<f:format.raw>}</f:format.raw>);
	</script>
</f:section>