<div class="continueRow">
	<div class="inner">
		<a class="tx-maagitproduct-checkout_link" href="" data-current="{current}" data-action="{action}">
			<em data-current="{current}" data-action="{action}"><f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:checkout.continue" />
				<svg class="icon icon--sm" viewBox="0 0 24 24" data-current="{current}" data-action="{action}">
					<g fill="none" stroke="currentColor">
						<line stroke-width="2" stroke-linecap="round" stroke-linejoin="round" x1="3" y1="12" x2="21" y2="12"></line>
						<polyline stroke-width="2" stroke-linecap="round" stroke-linejoin="round" points="15,6 21,12 15,18 "></polyline>
					</g>
				</svg>
			</em>
		</a>
	</div>
</div>