<f:variable name="action" value="send"></f:variable>
<f:if condition="{checkout.payment.paymentMethod}=='paypal'">
	<f:variable name="action" value="paypal"></f:variable>
</f:if>
<f:if condition="{checkout.payment.paymentMethod}=='stripe'">
	<f:variable name="action" value="stripe"></f:variable>
</f:if>
<f:if condition="{checkout.payment.paymentMethod}=='saferpayCredit'">
	<f:variable name="action" value="saferpay"></f:variable>
</f:if>
<f:if condition="{checkout.payment.paymentMethod}=='saferpayWallet'">
	<f:variable name="action" value="saferpay"></f:variable>
</f:if>


<f:if condition="{sendSummary}!=true && {confirmation}!=true && {checkout.action}=={current}">
	<f:if condition="(({settings.checkout.login.step} && {checkout.login.valid}) || (!{settings.checkout.login.step})) && {checkout.address.valid} && {checkout.delivery.valid} && {checkout.payment.valid} && (({settings.checkout.coupon.step} && {checkout.coupon.valid}) || (!{settings.checkout.coupon.step}))">
		<f:then>
			<div class="continueRow">
				<div class="inner">
					<a class="tx-maagitproduct-checkout_link" href="" data-current="{current}" data-action="{action}">
						<em data-current="{current}" data-action="{action}"><f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:checkout.summary.send" />
							<svg class="icon icon--sm" viewBox="0 0 24 24" data-current="{current}" data-action="{action}">
								<g fill="none" stroke="currentColor">
									<line stroke-width="2" stroke-linecap="round" stroke-linejoin="round" x1="3" y1="12" x2="21" y2="12"></line>
									<polyline stroke-width="2" stroke-linecap="round" stroke-linejoin="round" points="15,6 21,12 15,18 "></polyline>
								</g>
							</svg>
						</em>
					</a>
				</div>
			</div>
			<f:if condition="{settings.checkout.sending.condition}==1">
				<span class="agb"><f:format.html>{checkout.agb}</f:format.html></span>
			</f:if>
		</f:then>
		<f:else>
			<div class="error">
				<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:checkout.summary.notvalid" />
			</div>
		</f:else>
	</f:if>
</f:if>