<div class="row">
	<div class="col-sm-11 mx-3 pr-0">
		<f:render partial="{pathSegment}Checkout/Additional/Address" arguments="{_all}" />
		<f:render partial="{pathSegment}Checkout/Additional/Contact" arguments="{_all}" />
		<f:render partial="{pathSegment}Checkout/Additional/Delivery" arguments="{_all}" />
		<f:render partial="{pathSegment}Checkout/Additional/Payment" arguments="{_all}" />
		<f:render partial="{pathSegment}Checkout/Additional/Agb" arguments="{_all}" />
		<f:render partial="{pathSegment}Checkout/Additional/Message" arguments="{_all}" />
		<f:render partial="{pathSegment}Checkout/Additional/Error" arguments="{_all}" />
	</div>
</div>