<f:if condition="{checkout.address.firma}!=''||{checkout.address.prename}!=''||{checkout.address.lastname}!=''">
	<div class="bootstrap-additional-info">
		<div class="mb-2 p-0">
			<div class="bootstrap-additional-header bg-light font-weight-bold">
		  		<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:checkout.summary.additionalInfos.delivery.address" />
				<f:if condition="{confirmation}!=true && {checkout.action}=='summary'">
					<div class="float-right small">
						<a href="" class="tx-maagitproduct-checkout_header_link text-muted" data-current="summary" data-action="address">
							<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:checkout.summary.additionalInfos.change" />
						</a>
					</div>
				</f:if>
			</div>
			<div class="p-0">
				<div class="bootstrap-additional-content px-3 pt-2">
					<f:if condition="{checkout.address.firma}!=''">
						<p class="m-0">{checkout.address.firma}</p>
					</f:if>
					<f:if condition="{checkout.address.salutation}!=''">
						<p class="m-0">{checkout.address.salutation}</p>
					</f:if>
					<f:if condition="{checkout.address.prename}!=''||{checkout.address.lastname}!=''">
						<p class="m-0">{checkout.address.prename} {checkout.address.lastname}</p>
					</f:if>
					<f:if condition="{checkout.address.address}==''}">
						<f:if condition="{checkout.address.street}!=''||{checkout.address.houseNumber}!=''||{checkout.address.houseAdd}!=''">
							<p class="m-0">{checkout.address.street} {checkout.address.houseNumber}{checkout.address.houseAdd}</p>
						</f:if>
					</f:if>
					<f:if condition="{checkout.address.address}!=''">
						<p class="m-0">{checkout.address.address}</p>
					</f:if>
					<f:if condition="{checkout.address.poCity}==''}">
						<f:if condition="{checkout.address.po}!=''||{checkout.address.city}!=''">
							<p class="m-0">{checkout.address.po} {checkout.address.city}</p>
						</f:if>
					</f:if>
					<f:if condition="{checkout.address.poCity}!=''">
						<p class="m-0">{checkout.address.poCity}</p>
					</f:if>
					<f:if condition="{checkout.address.country}!=''">
						<p class="m-0">{checkout.address.country}</p>
					</f:if>
				</div>
				<div class="scrollItem">
					<div class="material-icons hovering">
						<span>keyboard_arrow_down</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</f:if>

<f:if condition="{checkout.address.bill}">
	<f:if condition="{checkout.address.billingAddress.firma}!=''||{checkout.address.billingAddress.prename}!=''||{checkout.address.billingAddress.lastname}!=''">
		<div class="bootstrap-additional-info">
			<div class="mb-2 p-0">
				<div class="bootstrap-additional-header bg-light font-weight-bold">
			  		<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:checkout.summary.additionalInfos.billing.address" />
					<f:if condition="{confirmation}!=true && {checkout.action}=='summary'">
						<div class="float-right small">
							<a href="" class="tx-maagitproduct-checkout_header_link text-muted" data-current="summary" data-action="address">
								<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:checkout.summary.additionalInfos.change" />
							</a>
						</div>
					</f:if>
				</div>
				<div class="p-0">
					<div class="bootstrap-additional-content px-3 pt-2">
						<f:if condition="{checkout.address.billingAddress.firma}!=''">
							<p class="m-0">{checkout.address.billingAddress.firma}</p>
						</f:if>
						<f:if condition="{checkout.address.billingAddress.salutation}!=''">
							<p class="m-0">{checkout.address.billingAddress.salutation}</p>
						</f:if>
						<f:if condition="{checkout.address.billingAddress.prename}!=''||{checkout.address.billingAddress.lastname}!=''">
							<p class="m-0">{checkout.address.billingAddress.prename} {checkout.address.billingAddress.lastname}</p>
						</f:if>
						<f:if condition="{checkout.address.billingAddress.address}==''}">
							<f:if condition="{checkout.address.billingAddress.street}!=''||{checkout.address.billingAddress.houseNumber}!=''||{checkout.address.billingAddress.houseAdd}!=''">
								<p class="m-0">{checkout.address.billingAddress.street} {checkout.address.billingAddress.houseNumber}{checkout.address.billingAddress.houseAdd}</p>
							</f:if>
						</f:if>
						<f:if condition="{checkout.address.billingAddress.address}!=''">
							<p class="m-0">{checkout.address.billingAddress.address}</p>
						</f:if>
						<f:if condition="{checkout.address.billingAddress.poCity}==''}">
							<f:if condition="{checkout.address.billingAddress.po}!=''||{checkout.address.billingAddress.city}!=''">
								<p class="m-0">{checkout.address.billingAddress.po} {checkout.address.billingAddress.city}</p>
							</f:if>
						</f:if>
						<f:if condition="{checkout.address.billingAddress.poCity}!=''">
							<p class="m-0">{checkout.address.billingAddress.poCity}</p>
						</f:if>
						<f:if condition="{checkout.address.billingAddress.country}!=''">
							<p class="m-0">{checkout.address.billingAddress.country}</p>
						</f:if>
					</div>
					<div class="scrollItem">
						<div class="material-icons hovering">
							<span>keyboard_arrow_down</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</f:if>
</f:if>