<f:if condition="({checkout.action}=='send' || {confirmation}==true) && {settings.checkout.sending.condition}!=0 && {settings.checkout.sending.agb}!=''">
	<div class="bootstrap-additional-info">
		<div class="mb-2 p-0">
			<div class="bootstrap-additional-header bg-light font-weight-bold">
		  		<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:checkout.mail.agb.title" />
			</div>
			<div class="p-0">
				<f:if condition="{settings.checkout.sending.condition}==1">
					<div class="bootstrap-additional-content px-3 pt-2">
						<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:checkout.mail.agb.1" />
						<f:link.typolink parameter="{checkout.agbUrl}">
							<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:checkout.mail.agb.link" />
						</f:link.typolink>
					</div>
				</f:if>
				<f:if condition="{settings.checkout.sending.condition}==2">
					<div class="bootstrap-additional-content px-3 pt-2">
						<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:checkout.mail.agb.2" />
						<f:link.typolink parameter="{checkout.agbUrl}">
							<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:checkout.mail.agb.link" />
						</f:link.typolink>
					</div>
				</f:if>
				<div class="scrollItem">
					<div class="material-icons hovering">
						<span>keyboard_arrow_down</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</f:if>