<f:if condition="{checkout.address.telephone}!=''||{checkout.address.mobile}!=''||{checkout.address.email}!=''">
	<div class="bootstrap-additional-info">
		<div class="mb-2 p-0">
			<div class="bootstrap-additional-header bg-light font-weight-bold">
		  		<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:checkout.summary.additionalInfos.contact" />
				<f:if condition="{confirmation}!=true && {checkout.action}=='summary'">
					<div class="float-right small">
						<a href="" class="tx-maagitproduct-checkout_header_link text-muted" data-current="summary" data-action="address">
							<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:checkout.summary.additionalInfos.change" />
						</a>
					</div>
				</f:if>
			</div>
			<div class="p-0">
				<div class="bootstrap-additional-content px-3 pt-2">
					<div class="form-group row m-0 p-0">
						<label class="d-none d-md-block col-sm-4 col-form-label m-0 p-0">
							<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:checkout.summary.additionalInfos.telephone" />
						</label>
						<div class="col-12 col-md-8 m-0 p-0">
							{checkout.address.telephone}
						</div>
					</div>
					<div class="form-group row m-0 p-0">
						<label class="d-none d-md-block col-sm-4 col-form-label m-0 p-0">
							<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:checkout.summary.additionalInfos.mobile" />
						</label>
						<div class="col-12 col-md-8 m-0 p-0">
							{checkout.address.mobile}
						</div>
					</div>
					<div class="form-group row m-0 p-0">
						<label class="d-none d-md-block col-sm-4 col-form-label m-0 p-0">
							<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:checkout.summary.additionalInfos.email" />
						</label>
						<div class="col-12 col-md-8 m-0 p-0">
							{checkout.address.email}
						</div>
					</div>
				</div>
				<div class="scrollItem">
					<div class="material-icons hovering">
						<span>keyboard_arrow_down</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</f:if>