<f:if condition="{checkout.delivery.deliveryMethod}!='' || ({checkout.basket.hasDownloads} && {checkout.delivery.visited})">
	<div class="bootstrap-additional-info">
		<div class="mb-2 p-0">
			<div class="bootstrap-additional-header bg-light font-weight-bold">
		  		<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:checkout.summary.additionalInfos.delivery" />
				<f:if condition="{confirmation}!=true && {checkout.action}=='summary'">
					<div class="float-right small">
						<a href="" class="tx-maagitproduct-checkout_header_link text-muted" data-current="summary" data-action="delivery">
							<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:checkout.summary.additionalInfos.change" />
						</a>
					</div>
				</f:if>
			</div>
			<div class="p-0">
				<div class="bootstrap-additional-content px-3 pt-2">
					<f:if condition="{checkout.basket.hasDownloads}"><f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:checkout.mail.download.link" /><br /></f:if>{checkout.delivery.deliveryMethodInfo.text}
				</div>
				<div class="scrollItem">
					<div class="material-icons hovering">
						<span>keyboard_arrow_down</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</f:if>