<f:if condition="{confirmation}!=true && {checkout.action}!='send'">
	<f:if condition="{checkout.mailToReceiverError}!='' || {checkout.mailToSenderError}!='' || {checkout.mailDownloadError}!=''">
		<div class="bootstrap-additional-info">
			<div class="mb-2 p-0">
				<div class="bootstrap-additional-header bg-light font-weight-bold text-danger">
			  		<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:checkout.summary.additionalInfos.error" />
				</div>
				<div class="p-0">
					<div class="bootstrap-additional-content px-3 pt-2 text-danger">
						<p class="m-0">{checkout.mailToReceiverError}</p>
						<p class="m-0">{checkout.mailToSenderError}</p>
						<p class="m-0">{checkout.mailDownloadError}</p>
					</div>
					<div class="scrollItem">
						<div class="material-icons hovering">
							<span>keyboard_arrow_down</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</f:if>
</f:if>