<f:if condition="{checkout.address.message}!=''">
	<div class="bootstrap-additional-info">
		<div class="mb-2 p-0">
			<div class="bootstrap-additional-header bg-light font-weight-bold">
		  		<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:checkout.summary.additionalInfos.message" />
				<f:if condition="{confirmation}!=true && {checkout.action}=='summary'">
					<div class="float-right small">
						<a href="" class="tx-maagitproduct-checkout_header_link text-muted" data-current="summary" data-action="address">
							<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:checkout.summary.additionalInfos.change" />
						</a>
					</div>
				</f:if>
			</div>
			<div class="p-0">
				<div class="bootstrap-additional-content px-3 pt-2">
					<f:format.html>{checkout.address.message}</f:format.html>
				</div>
				<div class="scrollItem">
					<div class="material-icons hovering">
						<span>keyboard_arrow_down</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</f:if>