<f:if condition="{checkout.payment.paymentMethod}!='' || {checkout.total}==0">
	<div class="bootstrap-additional-info">
		<div class="mb-2 p-0">
			<div class="bootstrap-additional-header bg-light font-weight-bold">
		  		<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:checkout.summary.additionalInfos.payment" />
				<f:if condition="{confirmation}!=true && {checkout.action}=='summary'">
					<div class="float-right small">
						<a href="" class="tx-maagitproduct-checkout_header_link text-muted" data-current="summary" data-action="payment">
							<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:checkout.summary.additionalInfos.change" />
						</a>
					</div>
				</f:if>
			</div>
			<div class="p-0">
				<div class="bootstrap-additional-content px-3 pt-2">
					<f:if condition="{checkout.total}==0">
						<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:checkout.payment.free" />
					</f:if>
					<f:switch expression="{checkout.payment.paymentMethod}">
						<f:case value="cash">
							<f:format.raw><f:if condition="{checkout.payment.paymentMethodCashInfo}!=''"><f:then><span class="additionalSubtitle">{checkout.payment.paymentMethodInfo.text}:</span>{checkout.payment.paymentMethodCashInfo}</f:then><f:else>{checkout.payment.paymentMethodInfo.text}</f:else></f:if></f:format.raw>
						</f:case>
						<f:case value="bill">
							<f:format.raw><f:if condition="{checkout.payment.paymentMethodBillInfo}!=''"><f:then><span class="additionalSubtitle">{checkout.payment.paymentMethodInfo.text}:</span>{checkout.payment.paymentMethodBillInfo}</f:then><f:else>{checkout.payment.paymentMethodInfo.text}</f:else></f:if></f:format.raw>
						</f:case>
						<f:case value="advance">
							<f:format.raw><f:if condition="{checkout.payment.paymentMethodAdvanceInfo}!=''"><f:then><span class="additionalSubtitle">{checkout.payment.paymentMethodInfo.text}:</span>{checkout.payment.paymentMethodAdvanceInfo}</f:then><f:else>{checkout.payment.paymentMethodInfo.text}</f:else></f:if></f:format.raw>
						</f:case>
						<f:case value="twint">
							<f:format.raw><f:if condition="{checkout.payment.paymentMethodTwintInfo}!=''"><f:then><span class="additionalSubtitle">{checkout.payment.paymentMethodInfo.text}:</span>{checkout.payment.paymentMethodTwintInfo}</f:then><f:else>{checkout.payment.paymentMethodInfo.text}</f:else></f:if></f:format.raw>
						</f:case>
						<f:defaultCase>
							<f:format.raw>{checkout.payment.paymentMethodInfo.text}</f:format.raw>
						</f:defaultCase>
					</f:switch>
					<f:if condition="{checkout.payment.paymentOK}==true">
						<f:then>
							<f:if condition="{checkout.payment.paymentMessage}!=''">
								<div class="text-success">
									{checkout.payment.paymentMessage}
								</div>
							</f:if>
						</f:then>
						<f:else>
							<f:if condition="{checkout.payment.paymentError}!=''">
								<div class="text-danger">
									{checkout.payment.paymentError}
								</div>
							</f:if>
						</f:else>
					</f:if>
				</div>
				<div class="scrollItem">
					<div class="material-icons hovering">
						<span>keyboard_arrow_down</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</f:if>