<f:for each="{checkout.basket.basketItems}" as="basketItem">{basketItem.product.header}<f:if condition="{basketItem.unitDescription}"> ({basketItem.unitDescription})</f:if>|<f:if condition="{basketItem.product.orderQuantity -> f:count()} > 0"><f:then><f:for each="{basketItem.product.orderQuantity}" as="orderQuantity" iteration="iterator"><f:if condition="{basketItem.quantity} == {orderQuantity.value}">{orderQuantity.text}</f:if></f:for></f:then><f:else>1</f:else></f:if>|<f:render partial="Div/Currency" section="renderCurrency" arguments="{amount: basketItem.total}" />
</f:for><f:if condition="{settings.checkout.tax} > 0"><f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:checkout.summary.tax" />|{settings.checkout.tax}%|<f:render partial="Div/Currency" section="renderCurrency" arguments="{amount: checkout.basket.tax}" /></f:if>
<f:if condition="{checkout.delivery.shipping} > 0"><f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:checkout.summary.shipping" />||<f:render partial="Div/Currency" section="renderCurrency" arguments="{amount: checkout.delivery.shipping}" /></f:if>
<f:if condition="{checkout.payment.expenses} > 0"><f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:checkout.summary.expenses" />||<f:render partial="Div/Currency" section="renderCurrency" arguments="{amount: checkout.payment.expenses}" /></f:if>
<f:if condition="{settings.checkout.coupon.step}"><f:if condition="{checkout.coupon.code} != ''">{checkout.coupon.text}||<f:render partial="Div/Currency" section="renderCurrency" arguments="{amount: checkout.coupon.amount}" /></f:if></f:if>
Total||<f:render partial="Div/Currency" section="renderCurrency" arguments="{amount: checkout.total}" />