<f:for each="{checkout.basket.basketItems}" as="basketItem" iteration="iterator"><f:if condition="{basketItem.product.link}!='' && {basketItem.total}==0"><f:if condition="{basketItem.product.secureLink}"><f:then>{basketItem.product.secureLink}</f:then><f:else><f:uri.typolink parameter="{basketItem.product.link}" absolute="true" /></f:else></f:if>|{basketItem.product.header}|<f:if condition="{basketItem.product.secureLink}">{settings.checkout.download.secureTimeoutText}</f:if></f:if><f:if condition="{iterator.isLast}==false">
</f:if></f:for>