<f:render partial="Checkout/Header/Header" arguments="{_all}" />

<f:if condition="{checkout.action} == {current}}">
	<div class="tx-maagitproduct-checkout_content tx-maagitproduct-checkout_{current}">

		<f:if condition="{settings.checkout.address.bill}">
			<p id="checkout-address-delivery" class="bold"><f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:checkout.address.delivery" />
		</f:if>
		<f:for each="{checkout.address.addressFields}" as="field">
			<div class="form-group">
				<label class="control-label" for="checkout-address-firma">
					<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:checkout.address.{field}" />
					<f:if condition="{checkout.address.requiredFields.{field}}"><span class="required">*</span></f:if>
				</label>
				<div class="input">
					<f:if condition="{checkout.address.requiredFields.{field}}">
						<f:then>
							<f:switch expression="{field}">
								<f:case value="message">
									<f:render section="renderTextareaField" arguments="{field: field, required: 'required'}" />
								</f:case>
								<f:case value="salutation">
									<f:render section="renderSelectField" arguments="{checkout: checkout, field: field, required: 'required'}" />
								</f:case>
								<f:case value="country">
									<f:render section="renderSelectField" arguments="{checkout: checkout, field: field, required: 'required'}" />
								</f:case>
								<f:case value="sex">
									<f:render section="renderSelectField" arguments="{checkout: checkout, field: field, required: 'required'}" />
								</f:case>
								<f:case value="email">
									<f:render section="renderTextField" arguments="{checkout: checkout, field: field, type: 'email', required: 'required'}" />
								</f:case>
								<f:case value="birthdate">
									<f:render section="renderTextField" arguments="{checkout: checkout, field: field, type: 'date', required: 'required'}" />
								</f:case>
								<f:defaultCase>
									<f:render section="renderTextField" arguments="{checkout: checkout, field: field, type: 'text', required: 'required'}" />
								</f:defaultCase>
							</f:switch>
						</f:then>
						<f:else>
							<f:switch expression="{field}">
								<f:case value="message">
									<f:render section="renderTextareaField" arguments="{field: field, required: ''}" />
								</f:case>
								<f:case value="salutation">
									<f:render section="renderSelectField" arguments="{checkout: checkout, field: field, required: ''}" />
								</f:case>
								<f:case value="country">
									<f:render section="renderSelectField" arguments="{checkout: checkout, field: field, required: ''}" />
								</f:case>
								<f:case value="sex">
									<f:render section="renderSelectField" arguments="{checkout: checkout, field: field, required: ''}" />
								</f:case>
								<f:case value="email">
									<f:render section="renderTextField" arguments="{checkout: checkout, field: field, type: 'email', required: ''}" />
								</f:case>
								<f:case value="birthdate">
									<f:render section="renderTextField" arguments="{checkout: checkout, field: field, type: 'date', required: ''}" />
								</f:case>
								<f:defaultCase>
									<f:render section="renderTextField" arguments="{checkout: checkout, field: field, type: 'text', required: ''}" />
								</f:defaultCase>
							</f:switch>
						</f:else>
					</f:if>
				</div>
			</div>
		</f:for>

		<f:if condition="{settings.checkout.address.bill}">
			<div class="form-group">
				<label class="control-label" for="checkout-address-bill">
					<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:checkout.address.bill" />
				</label>
				<div class="input">
					<f:form.checkbox property="address.bill" id="checkout-address-bill" value="1" class="form-check-input" />
					<label class="form-check-label" for="checkout-address-bill"><f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:checkout.address.bill.label" /></label>
				</div>
			</div>
			<div id="checkout-address-bill-section">
				<div class="form-group">
					<hr width="100%" size="1" />
				</div>
				<p id="checkout-address-billing" class="bold"><f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:checkout.address.billing" />
				<f:for each="{checkout.address.billingAddress.addressFields}" as="field">
					<div class="form-group">
						<label class="control-label" for="checkout-address-billingAddress-{field}">
							<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:checkout.address.{field}" />
							<f:if condition="{checkout.address.billingAddress.requiredFields.{field}}"><span class="required">*</span></f:if>
						</label>
						<div class="input">
							<f:if condition="{checkout.address.billingAddress.requiredFields.{field}}">
								<f:then>
									<f:switch expression="{field}">
										<f:case value="message">
											<f:render section="renderTextareaField" arguments="{field: field, required: 'required', prefix: 'billingAddress'}" />
										</f:case>
										<f:case value="salutation">
											<f:render section="renderSelectField" arguments="{checkout: checkout, field: field, required: 'required', prefix: 'billingAddress'}" />
										</f:case>
										<f:case value="country">
											<f:render section="renderSelectField" arguments="{checkout: checkout, field: field, required: 'required', prefix: 'billingAddress'}" />
										</f:case>
										<f:case value="sex">
											<f:render section="renderSelectField" arguments="{checkout: checkout, field: field, required: 'required', prefix: 'billingAddress'}" />
										</f:case>
										<f:case value="email">
											<f:render section="renderTextField" arguments="{checkout: checkout, field: field, type: 'email', required: 'required', prefix: 'billingAddress'}" />
										</f:case>
										<f:case value="birthdate">
											<f:render section="renderTextField" arguments="{checkout: checkout, field: field, type: 'date', required: 'required', prefix: 'billingAddress'}" />
										</f:case>
										<f:defaultCase>
											<f:render section="renderTextField" arguments="{checkout: checkout, field: field, type: 'text', required: 'required', prefix: 'billingAddress'}" />
										</f:defaultCase>
									</f:switch>
								</f:then>
								<f:else>
									<f:switch expression="{field}">
										<f:case value="message">
											<f:render section="renderTextareaField" arguments="{field: field, required: '', prefix: 'billingAddress'}" />
										</f:case>
										<f:case value="salutation">
											<f:render section="renderSelectField" arguments="{checkout: checkout, field: field, required: '', prefix: 'billingAddress'}" />
										</f:case>
										<f:case value="country">
											<f:render section="renderSelectField" arguments="{checkout: checkout, field: field, required: '', prefix: 'billingAddress'}" />
										</f:case>
										<f:case value="sex">
											<f:render section="renderSelectField" arguments="{checkout: checkout, field: field, required: '', prefix: 'billingAddress'}" />
										</f:case>
										<f:case value="email">
											<f:render section="renderTextField" arguments="{checkout: checkout, field: field, type: 'email', required: '', prefix: 'billingAddress'}" />
										</f:case>
										<f:case value="birthdate">
											<f:render section="renderTextField" arguments="{checkout: checkout, field: field, type: 'date', required: '', prefix: 'billingAddress'}" />
										</f:case>
										<f:defaultCase>
											<f:render section="renderTextField" arguments="{checkout: checkout, field: field, type: 'text', required: '', prefix: 'billingAddress'}" />
										</f:defaultCase>
									</f:switch>
								</f:else>
							</f:if>
						</div>
					</div>
				</f:for>
			</div>
		</f:if>
		

		<f:render partial="Checkout/Footer/Continue" arguments="{current: current, action: 'delivery'}" />
	</div>
</f:if>



<f:section name="renderSelectField">
	<f:form.select property="address.{prefix}{f:if(condition: '{prefix}', then: '.')}{field}" required="{required}">
		<f:if condition="{checkout.address.{prefix}{f:if(condition: '{prefix}', then: '.')}{field}Options->f:count()}==0">
			<f:then>
				<f:form.select.option value="">!! please add values in TCA, key [TCEFORM.tt_content.tx_maagitproduct_{field}.addItems.]</f:form.select.option>
			</f:then>
			<f:else>
				<f:form.select.option value="">-- {f:translate(key: 'LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:checkout.address.{field}')} --</f:form.select.option>
				<f:for each="{checkout.address.{prefix}{f:if(condition: '{prefix}', then: '.')}{field}Options}" as="option">
					<f:form.select.option value="{option.key}">{option.value}</f:form.select.option>
				</f:for>
			</f:else>
		</f:if>
	</f:form.select>
</f:section>



<f:section name="renderTextareaField">
	<f:form.textarea property="address.{prefix}{f:if(condition: '{prefix}', then: '.')}{field}" id="checkout-address-{prefix}{f:if(condition: '{prefix}', then: '-')}{field}" required="{required}" placeholder="{f:translate(key: 'LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:checkout.address.{field}.placeholder')}" class="form-control" />
</f:section>



<f:section name="renderTextField">
	<f:form.textfield property="address.{prefix}{f:if(condition: '{prefix}', then: '.')}{field}" type="{type}" id="checkout-address-{prefix}{f:if(condition: '{prefix}', then: '-')}{field}" required="{required}" placeholder="{f:translate(key: 'LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:checkout.address.{field}.placeholder')}" class="form-control" />
</f:section>