<f:render partial="Checkout/Header/Header" arguments="{_all}" />

<f:if condition="{checkout.action} == {current}}">
	<div class="tx-maagitproduct-checkout_content tx-maagitproduct-checkout_{current}">

		<f:if condition="{checkout.coupon.lastError} != ''"><div class="loginError"><p class="mt-3">{checkout.coupon.lastError}<p></div></f:if>
		<div class="form-group">
			<label class="control-label" for="checkout-address-firma">
				<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:checkout.coupon.code" />
			</label>
			<div class="input">
				<f:form.textfield property="coupon.code" type="text" id="checkout-coupon-code" placeholder="{f:translate(key: 'LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:checkout.coupon.code.placeholder')}" class="form-control" />
			</div>
		</div>
		<f:if condition="{checkout.coupon.discount.coupontext} != ''">
			<div class="form-group">
				<div class="couponDescription"><f:format.html>{checkout.coupon.discount.coupontextHtml}</f:format.html></div>
			</div>
		</f:if>

		<f:if condition="{settings.checkout.sending.condition}==2">
			<f:then>
				<f:render partial="Checkout/Footer/Continue" arguments="{current: current, action: 'terms'}" />
			</f:then>
			<f:else>
				<f:render partial="Checkout/Footer/Continue" arguments="{current: current, action: 'summary'}" />
			</f:else>
		</f:if>
	</div>
</f:if>