<f:render partial="Checkout/Header/Header" arguments="{_all}" />

<f:if condition="{checkout.action} == {current}}">
	<div class="tx-maagitproduct-checkout_content tx-maagitproduct-checkout_{current}">

		<div class="form-group">
			<div class="input">
				<div class="input">
					<div id="deliverymethods" class="inputs-list">
						<div class="form-group">
							<f:if condition="{checkout.basket.hasDownloads}">
								<div class="radio">
									<label for="deliverymethod-download">
										<input type="radio" id="deliverymethod-download" value="download" checked="checked" disabled="disabled" />
										<span>
											<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:checkout.mail.download.link" />
											<span class="tarif">
												<f:render partial="Div/Currency" section="renderCurrency" arguments="{amount: '0.00'}" />
											</span>
										</span>
									</label>
								</div>
							</f:if>
							<f:if condition="{checkout.basket.hasOnlyDownloads}==false">
								<f:for each="{checkout.delivery.deliveryMethods}" as="method">
									<div class="radio">
										<label for="deliverymethod-{method.id}">
											<f:form.radio property="delivery.deliveryMethod" id="deliverymethod-{method.id}" value="{method.id}" additionalAttributes="{required: 'required'}" />
											<span>
												{method.text}
												<span class="tarif">
													<f:if condition="{method.tarif} > 0">+</f:if>
													<f:if condition="{method.tarif} < 0">
														<f:then>
															<f:render partial="Div/Currency" section="renderCurrency" arguments="{amount: 0}" />
															<br /><f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:checkout.delivery.minordervalue" />
														</f:then>
														<f:else>
															<f:render partial="Div/Currency" section="renderCurrency" arguments="{amount: method.tarif}" />
														</f:else>
													</f:if>
												</span>
											</span>
										</label>
									</div>
								</f:for>
							</f:if>
						</div>
					</div>
				</div>
			</div>
		</div>


		<f:render partial="Checkout/Footer/Continue" arguments="{current: current, action: 'payment'}" />
	</div>
</f:if>