<f:render partial="Checkout/Header/Header" arguments="{_all}" />

<f:if condition="{checkout.action} == {current}}">
	<div class="tx-maagitproduct-checkout_content tx-maagitproduct-checkout_{current}">
		<input type="hidden" id="checkout-login-pid" name="pid" value="{settings.checkout.login.pages}">
		<input type="hidden" id="checkout-login-logintype" name="logintype" value="login">

		<f:if condition="{checkout.login.lastError} != ''"><div class="loginError"><p class="mt-3">{checkout.login.lastError}<p></div></f:if>
		<f:if condition="{checkout.login.loggedIn}">
			<f:then>
				<div class="form-group">
					<label class="control-label" for="checkout-login-user">
						<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:checkout.login.user" />
					</label>
					<div class="input">
						<span class="form-control readonly">{checkout.login.user.username}</span>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">&nbsp;</label>
					<input id="checkout-login-logout" class="btn btn-primary" type="submit" value="Abmelden">
				</div>
			</f:then>
			<f:else>
				<div class="form-group">
					<label class="control-label" for="checkout-login-user">
						<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:checkout.login.user" />
						<span class="required">*</span>
					</label>
					<div class="input">
						<input type="email" id="checkout-login-user" name="user" value="{checkout.login.username}" autocomplete="off" required="required" placeholder="<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:checkout.login.user.placeholder" />" class="form-control">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="checkout-login-password">
						<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:checkout.login.password" />
						<span class="required">*</span>
					</label>
					<div class="input">
						<input type="password" id="checkout-login-password" name="pass" required="required" autocomplete="off" placeholder="<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:checkout.login.password.placeholder" />" class="form-control">
					</div>
				</div>
				<f:if condition="{settings.checkout.login.recovery}">
					<div class="form-group">
						<div class="input">&nbsp;</div>
						<div class="input">
							<f:link.typolink parameter="{settings.checkout.login.recovery}"><f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:checkout.login.recovery" /></f:link.typolink>
						</div>
					</div>
				</f:if>
				<f:if condition="{settings.checkout.login.register}">
					<div class="form-group">
						<div class="input">&nbsp;</div>
						<div class="input">
							<f:link.typolink parameter="{settings.checkout.login.register}"><f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:checkout.login.register" /></f:link.typolink>
						</div>
					</div>
				</f:if>
			</f:else>
		</f:if>

		<div class="form-group">
			<hr width="100%" size="1" />
		</div>
		
		<div class="form-group">
			<label class="control-label" for="checkout-login-guest">
				<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:checkout.login.guest" />
			</label>
			<div class="input">
				<f:form.checkbox property="login.guest" id="chkLoginGuest" name="loginGuest" value="1" class="form-check-input" />
				<label class="form-check-label" for="chkLoginGuest"><f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:checkout.login.guest.label" /></label>
			</div>
		</div>

		<f:render partial="Checkout/Footer/Continue" arguments="{current: current, action: 'address'}" />
	</div>
</f:if>