<f:render partial="Checkout/Header/Header" arguments="{_all}" />

<f:if condition="{checkout.action} == {current}}">
	<div class="tx-maagitproduct-checkout_content tx-maagitproduct-checkout_{current}">

		<div class="form-group">
			<div class="input">
				<div class="input">
					<div id="paymentmethods" class="inputs-list">
						<div class="form-group">
							<f:if condition="{checkout.total}==0">
								<div class="radio">
									<label for="paymentmethod-free">
										<input type="radio" id="paymentmethod-free" value="free" checked="checked" disabled="disabled" />
										<span>
											<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:checkout.payment.free" />
											<span class="tarif">
												<<f:render partial="Div/Currency" section="renderCurrency" arguments="{amount: '0.00'}" />
											</span>
										</span>
									</label>
								</div>
							</f:if>
							<f:if condition="{checkout.total}>0">
								<f:for each="{checkout.payment.paymentMethods}" as="method">
									<div class="radio">
										<label for="paymentmethod-{method.id}">
											<f:form.radio property="payment.paymentMethod" id="paymentmethod-{method.id}" value="{method.id}" additionalAttributes="{required: 'required'}" />
											<span>
												{method.text}
												<span class="tarif">
													<f:if condition="{method.tarif} > 0">
													+
													</f:if>
													<f:render partial="Div/Currency" section="renderCurrency" arguments="{amount: method.tarif}" />
												</span>
											</span>
										</label>
									</div>
								</f:for>
							</f:if>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<f:if condition="{settings.checkout.coupon.step}">
			<f:then>
				<f:render partial="Checkout/Footer/Continue" arguments="{current: current, action: 'coupon'}" />
			</f:then>
			<f:else>
				<f:if condition="{settings.checkout.sending.condition}==2">
					<f:then>
						<f:render partial="Checkout/Footer/Continue" arguments="{current: current, action: 'terms'}" />
					</f:then>
					<f:else>
						<f:render partial="Checkout/Footer/Continue" arguments="{current: current, action: 'summary'}" />
					</f:else>
				</f:if>
			</f:else>
		</f:if>
	</div>
</f:if>