<f:if condition="{ajax}!=true">
	<f:render partial="Checkout/Header/Header" arguments="{_all}" />
	<div id="checkoutSummary" class="tx-maagitproduct-checkout_content tx-maagitproduct-checkout_{current}">
</f:if>

	<f:if condition="{sendSummary}!=true && {confirmation}!=true && {settings.checkout.shop.pid}">
		<div class="header">
			<div class="right">
				<f:link.page pageUid="{settings.checkout.shop.pid}">
					<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:checkout.summary.shop" />
				</f:link.page>
			</div>
		</div>
	</f:if>

	<f:if condition="{checkout.basket.basketItems->f:count()}==0">
		<f:then>
			<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:checkout.summary.noentries" />
		</f:then>
		<f:else>
			<table>
				<tr>
					<th class="image"><f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:checkout.summary.image" /></th>
					<th class="product"><f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:checkout.summary.product" /></th>
					<th class="quantity"><f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:checkout.summary.quantity" /></th>
					<th class="price"><f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:checkout.summary.price" /></th>
				</tr>
		
				<f:for each="{checkout.basket.basketItems}" as="basketItem">
					<tr>
						<td class="image">
							<f:for each="{basketItem.product.assets}" as="asset" iteration="iterator">
								<f:if condition="{iterator.isFirst}">
									<img src="{asset.pathAndFilename}" />
								</f:if>
							</f:for>
						</td>
						<td class="product">
							{basketItem.product.header}
							<f:if condition="{basketItem.unitDescription}">
								<span class="unit">({basketItem.unitDescription})</span>
							</f:if>
							<f:if condition="({sendSummary}==true || {confirmation}==true) && {basketItem.product.isDownload}==true && {basketItem.total}==0} && {settings.checkout.download.separate}!=true">
								<br />
								<f:if condition="{basketItem.product.secureLink}">
									<f:then>
										<f:link.typolink parameter="{basketItem.product.secureLink}" absolute="true" target="_blank">
											<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:checkout.send.download" />
										</f:link.typolink>&nbsp;{settings.checkout.download.secureTimeoutText}
									</f:then>
									<f:else>
										<f:link.typolink parameter="{basketItem.product.link}" absolute="true" target="_blank">
											<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:checkout.send.download" />
										</f:link.typolink>
									</f:else>
								</f:if>
							</f:if>
							<f:if condition="{sendSummary}!=true && {confirmation}!=true">
								<f:variable name="confirmHeader">
									{basketItem.product.header}
									<f:if condition="{basketItem.unitDescription}">
										({basketItem.unitDescription})
									</f:if>
								</f:variable>
								<br /><a href="" class="js-tx-maagitproduct-checkout-remove-from-basket delete" data-product="{basketItem.product.uid}" data-header="{confirmHeader}" data-unit="{basketItem.unit}">&#10008; <f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:checkout.summary.delete" /></a>
							</f:if>
						</td>
						<td class="quantity">
							<f:if condition="{sendSummary}!=true && {confirmation}!=true">
							<f:then>
								<f:if condition="{basketItem.product.orderQuantity -> f:count()} > 1">
								<f:then>
									<span class="select">
										<select class="js-tx-maagitproduct-checkout-change-from-basket reset" data-product="{basketItem.product.uid}" data-unit="{basketItem.unit}">
											<f:for each="{basketItem.product.orderQuantity}" as="orderQuantity" iteration="iterator">
												<option value="{orderQuantity.value}" {f:if(condition: '{basketItem.quantity} == {orderQuantity.value}', then: 'selected="selected"')}>{orderQuantity.text}</option>
											</f:for>
										</select>
										<svg class="icon" viewBox="0 0 12 12">
											<polyline fill="none" stroke="currentColor" points="2,4 6,8 10,4 "/>
										</svg>
									</span>
								</f:then>
								<f:else>
									<f:if condition="{basketItem.product.orderQuantity -> f:count()} < 1">
									<f:then>
										1
									</f:then>
									<f:else>
										<f:for each="{basketItem.product.orderQuantity}" as="orderQuantity" iteration="iterator">
											<f:if condition="{iterator.isFirst}">
												{orderQuantity.value}
											</f:if>
										</f:for>
									</f:else>
									</f:if>
								</f:else>
								</f:if>
							</f:then>
							<f:else>
								<f:if condition="{basketItem.product.orderQuantity -> f:count()} > 0">
									<f:then>
										<f:for each="{basketItem.product.orderQuantity}" as="orderQuantity" iteration="iterator">
											<f:if condition="{basketItem.quantity} == {orderQuantity.value}">
												{orderQuantity.text}
											</f:if>
										</f:for>
									</f:then>
									<f:else>
										1
									</f:else>
								</f:if>
							</f:else>
							</f:if>
						</td>
						<td class="price text-nowrap"><f:render partial="Div/Currency" section="renderCurrency" arguments="{amount: basketItem.total}" /></td>
					</tr>
				</f:for>
		
				<f:if condition="{settings.checkout.tax} > 0 && {settings.checkout.taxincluded} != true">
					<tr>
						<td class="image">&nbsp;</td>
						<td class="product"><f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:checkout.summary.tax" /></td>
						<td class="quantity">{settings.checkout.tax}%</td>
						<td class="price text-nowrap"><f:render partial="Div/Currency" section="renderCurrency" arguments="{amount: checkout.basket.tax}" /></td>
					</tr>
				</f:if>
			
				<f:if condition="{checkout.delivery.shipping} > 0">
					<tr>
						<td class="image">&nbsp;</td>
						<td class="product"><f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:checkout.summary.shipping" /></td>
						<td class="quantity">&nbsp;</td>
						<td class="price text-nowrap"><f:render partial="Div/Currency" section="renderCurrency" arguments="{amount: checkout.delivery.shipping}" /></td>
					</tr>
				</f:if>
				
				<f:if condition="{checkout.payment.expenses} > 0">
					<tr>
						<td class="image">&nbsp;</td>
						<td class="product"><f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:checkout.summary.expenses" /> (<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:checkout.payment.{checkout.payment.paymentMethod}" />)</td>
						<td class="quantity">&nbsp;</td>
						<td class="price text-nowrap"><f:render partial="Div/Currency" section="renderCurrency" arguments="{amount: checkout.payment.expenses}" /></td>
					</tr>
				</f:if>

				<f:if condition="{settings.checkout.coupon.step}">
					<f:if condition="{checkout.coupon.code} != ''">
						<f:if condition="{checkout.coupon.lastError} != ''">
							<f:then>
								<tr>
									<td class="image">&nbsp;</td>
									<td class="product"><f:format.html><f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:checkout.summary.coupon.error" arguments="{0: checkout.coupon.code, 1: checkout.coupon.lastError}" /></f:format.html></td>
									<td class="quantity">&nbsp;</td>
									<td class="price text-nowrap"><f:render partial="Div/Currency" section="renderCurrency" arguments="{amount: checkout.coupon.amount}" /></td>
								</tr>
							</f:then>
							<f:else>
								<tr>
									<td class="image">&nbsp;</td>
									<td class="product"><f:format.html>{checkout.coupon.text}</f:format.html></td>
									<td class="quantity">&nbsp;</td>
									<td class="tprice text-nowrap"><f:render partial="Div/Currency" section="renderCurrency" arguments="{amount: checkout.coupon.amount}" /></td>
								</tr>
							</f:else>
						</f:if>
					</f:if>
				</f:if>

				<tr>
					<td class="foot image">&nbsp;</td>
					<td class="foot product"><f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:checkout.summary.total" /></td>
					<td class="foot quantity">&nbsp;</td>
					<td class="foot price text-nowrap"><f:render partial="Div/Currency" section="renderCurrency" arguments="{amount: checkout.total}" /></td>
				</tr>

				<f:if condition="{settings.checkout.tax} > 0 && {settings.checkout.taxincluded} == true">
					<tr class="">
						<td colspan="4" class="taxincluded">
							<f:variable name="taxamount"><f:render partial="Div/Currency" section="renderCurrency" arguments="{amount: checkout.basket.tax}" /></f:variable>
							<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:checkout.summary.taxincluded" arguments="{0: '{settings.checkout.tax}%', 1: '{taxamount}'}" />
						</td>
					</tr>
				</f:if>
			</table>
			<f:render partial="Checkout/Additional/Additional" arguments="{_all}" />

			<f:render partial="Checkout/Footer/Send" arguments="{_all}" />
		</f:else>
	</f:if>
<f:if condition="{ajax}!=true">
	</div>
</f:if>

<f:if condition="{checkout.basket.minOrderValue}>0">
	<div class="tx-maagitproduct-checkout__hidden">
		<div id="paramCheckoutAmount">{checkout.basket.amount}</div>
		<div id="paramCheckoutMinOrderValue">{checkout.basket.minOrderValue}</div>
		<div id="paramCheckoutMinOrderValueReached">{f:if(condition: "{checkout.basket.amount}>={checkout.basket.minOrderValue}", then: "true", else: "false")}</div>
	</div>
</f:if>