<f:render partial="Checkout/Header/Header" arguments="{_all}" />

<f:if condition="{checkout.action} == {current}}">
	<div class="tx-maagitproduct-checkout_content tx-maagitproduct-checkout_{current}">

		<f:if condition="{checkout.terms.lastError} != ''"><div class="loginError"><p class="mt-3">{checkout.terms.lastError}<p></div></f:if>
		<div class="form-group">
			<f:form.checkbox property="terms.accepted" value="true" id="checkout-terms-accepted" class="form-control" />
			<label class="control-label" for="checkout-terms-accepted">
				<f:format.raw>{checkout.terms.text}</f:format.raw>
			</label>
		</div>
		<f:render partial="Checkout/Footer/Continue" arguments="{current: current, action: 'summary'}" />
	</div>
</f:if>