<f:if condition="{checkout.action}=={current} || {confirmation}==true || {checkout.basket.basketItems->f:count()}==0">
	<f:then>
		<header class="active">
			<f:if condition="{checkout.basket.basketItems->f:count()}==0">
				<f:then>
					<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:checkout.send" arguments="{0: stepNumber}" />
				</f:then>
				<f:else>
					<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:checkout.{current}" arguments="{0: stepNumber}" />
				</f:else>
			</f:if>
			<f:if condition="({current}=='summary' || {current}=='send' || {confirmation}==true) && {checkout.basket.basketItems->f:count()}>0">
				<span class="orderid">(<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:checkout.orderId" /> {checkout.orderId})</span>
			</f:if>
		</header>
	</f:then>
	<f:else>
		<f:if condition="{visited}">
			<f:then>
				<a href="" class="tx-maagitproduct-checkout_header_link" data-current="{checkout.action}" data-action="{current}">
					<header data-current="{checkout.action}" data-action="{current}">
						<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:checkout.{current}" arguments="{0: stepNumber}" />
						<f:if condition="{visited}">
							<f:then>
								<f:if condition="{valid}">
									<f:then>
										<span data-current="{checkout.action}" data-action="{current}" class="ok">&#10004;</span>
									</f:then>
									<f:else>
										<span data-current="{checkout.action}" data-action="{current}" class="ok">&#10008;</span>
									</f:else>
								</f:if>
							</f:then>
						</f:if>
						<f:if condition="({current}=='summary' || {current}=='send' || {confirmation}==true) && {checkout.basket.basketItems->f:count()}>0">
							<span data-current="{checkout.action}" data-action="{current}" class="orderid">(<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:checkout.orderId" /> {checkout.orderId})</span>
						</f:if>
					</header>
				</a>
			</f:then>
			<f:else>
				<header class="inactive">
					<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:checkout.{current}" arguments="{0: stepNumber}" />
					<f:if condition="({current}=='summary' || {current}=='send' || {confirmation}==true) && {checkout.basket.basketItems->f:count()}>0">
						<span data-current="{checkout.action}" data-action="{current}" class="orderid">(<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:checkout.orderId" /> {checkout.orderId})</span>
					</f:if>
				</header>
			</f:else>
		</f:if>
	</f:else>
</f:if>