<f:section name="HeaderAssets">
	<link rel="stylesheet" type="text/css" href="{f:uri.resource(path:'StyleSheet/Product/Rating.css', extensionName: 'maagitproduct')}" media="all">
</f:section>
<f:layout name="Shop" />
<f:section name="main">
	<f:if condition="!{product}">
		<f:then>
			<div class="row">
				<div class="col-12">
					<h2><f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:rating.title" /></h2>
					<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:rating.noproduct" />
				</div>
			<div>
		</f:then>
		<f:else>
			<div class="row">	
				<div class="col-lg-3 my-4">
					<div class="card h-100">
						<f:variable name="done">0</f:variable>
						<f:for each="{product.assets}" as="asset" iteration="iterator">
							<f:if condition="{done}==0">
								<f:if condition="{asset.type}=='contentObject'">
									<f:variable name="done">1</f:variable>
									<img class="card-img-top bg-light" src="{asset.pathAndFilename}" alt="{product.header}" />
								</f:if>
							</f:if>
						</f:for>
						<div class="card-body h-50">
							<h4 class="card-title">
								{product.header}
							</h4>
							<p class="card-text">
								<f:format.raw>
									<f:format.crop maxCharacters="100" respectWordBoundaries="true" respectHtml="true" append="&nbsp;...">{product.bodytext}</f:format.crop>
								</f:format.raw>
							</p>
						</div>
						<div class="card-footer text-center"></div>
					</div>
				</div>
				<div class="col-lg-9 my-4">
					<h2><f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:rating.title" /></h2>
					<p><f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:rating.accepted.intro" /></p>
					<div><hr /></div>
					<div class="form-group row my-0">
						<label class="control-label col-sm-3" for="name"><f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:rating.name" /><span class="required">*</span></label>
			        	<div class="input col-sm-9 font-weight-bold">
							{rating.name}
						</div>
					</div>
					<div class="form-group row my-0">
						<label class="control-label col-sm-3" for="email"><f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:rating.email" /></label>
			        	<div class="input col-sm-9 font-weight-bold">
							{rating.email}
						</div>
					</div>
					<div class="form-group row my-0">
						<label class="control-label col-sm-3" for="rating"><f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:rating.rating" /><span class="required">*</span></label>
						<div class="input col-sm-9">
							<fieldset class="rate my-0">
								<label class="mb-0 {f:if(condition: '{rating.rating}>4.5', then: 'active')}" title="<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:product.rating.stars.5" />"></label>
								<label class="mb-0 half {f:if(condition: '{rating.rating}>4', then: 'active')}" title="<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:product.rating.stars.5" />"></label>
								<label class="mb-0 {f:if(condition: '{rating.rating}>3.5', then: 'active')}" title="<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:product.rating.stars.4" />"></label>
								<label class="mb-0 half {f:if(condition: '{rating.rating}>3', then: 'active')}" title="<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:product.rating.stars.4" />"></label>
								<label class="mb-0 {f:if(condition: '{rating.rating}>2.5', then: 'active')}" title="<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:product.rating.stars.3" />"></label>
								<label class="mb-0 half {f:if(condition: '{rating.rating}>2', then: 'active')}" title="<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:product.rating.stars.3" />"></label>
								<label class="mb-0 {f:if(condition: '{rating.rating}>1.5', then: 'active')}" title="<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:product.rating.stars.2" />"></label>
								<label class="mb-0 half {f:if(condition: '{rating.rating}>1', then: 'active')}" title="<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:product.rating.stars.2" />"></label>
								<label class="mb-0 {f:if(condition: '{rating.rating}>0.5', then: 'active')}" title="<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:product.rating.stars.1" />"></label>
								<label class="mb-0 half {f:if(condition: '{rating.rating}>0', then: 'active')}" title="<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:product.rating.stars.1" />"></label>
							</fieldset>
						</div>
					</div>
					<div class="form-group row my-0">
						<label class="control-label col-sm-3" for="comment"><f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:rating.comment" /></label>
			        	<div class="input col-sm-9 font-weight-bold acceptedRating">
							<f:format.html>{rating.comment}</f:format.html>
						</div>
					</div>
					<div><hr /></div>
					<p><f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:rating.accepted.outro" /></p>
				</div>
			</div>		
		</f:else>
	</f:if>
</f:section>