<f:layout name="Shop" />
<f:section name="main">
	<f:if condition="!{product}">
		<f:then>
			<div class="row">
				<div class="col-12">
					<h2><f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:rating.title" /></h2>
					<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:rating.noproduct" />
				</div>
			<div>
		</f:then>
		<f:else>
			<div class="row">	
				<div class="col-lg-3 my-4">
					<div class="card h-100">
						<f:variable name="done">0</f:variable>
						<f:for each="{product.assets}" as="asset" iteration="iterator">
							<f:if condition="{done}==0">
								<f:if condition="{asset.type}=='contentObject'">
									<f:variable name="done">1</f:variable>
									<img class="card-img-top bg-light" src="{asset.pathAndFilename}" alt="{product.header}" />
								</f:if>
							</f:if>
						</f:for>
						<div class="card-body h-50">
							<h4 class="card-title">
								{product.header}
							</h4>
							<p class="card-text">
								<f:format.raw>
									<f:format.crop maxCharacters="100" respectWordBoundaries="true" respectHtml="true" append="&nbsp;...">{product.bodytext}</f:format.crop>
								</f:format.raw>
							</p>
						</div>
						<div class="card-footer text-center"></div>
					</div>
				</div>
				<div class="col-lg-9 my-4">
					<f:if condition="{settings.confirm.text}!=''">
						<f:then>
							<f:format.html>{settings.confirm.text}</f:format.html>
						</f:then>
						<f:else>
							<h2><f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:rating.title" /></h2>
							<f:format.html><f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:rating.confirm.text" /></f:format.html>
						</f:else>
					</f:if>
				</div>
			</div>		
		</f:else>
	</f:if>
</f:section>