<style>
	p {
		margin: 0;
		padding: 0;
	}
</style>


<f:variable name="pageid"><f:cObject typoscriptObjectPath="lib.tx_maagitproduct.pageid" /></f:variable>
<f:variable name="host"><f:cObject typoscriptObjectPath="lib.tx_maagitproduct.currentDomain" /></f:variable>
<f:variable name="baseUrl">{host}/index.php?id={pageid}</f:variable>
<f:variable name="url">{baseUrl}&tx_maagitproduct_rating[productUid]={product.uid}&tx_maagitproduct_rating[name]={order.prename->f:format.urlencode()}%20{order.lastname->f:format.urlencode()}&tx_maagitproduct_rating[email]={order.email->f:format.urlencode()}</f:variable>

<p>{order.prename} {order.lastname},</p>
<p><f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:rating.emailrating.intro" /></p>
<p>&nbsp;</p>

<hr />
<table>
	<tr valign="top">
		<td>
			<f:for each="{product.assets}" as="asset" iteration="iterator">
				<f:if condition="{asset.type}=='basketImage'">
					<img src="{host}/{asset.pathAndFilename}" height="100" alt="{product.header}" />
				</f:if>
			</f:for>
		</td>
		<td>&nbsp;</td>
		<td>
			<f:format.raw><p><strong>{product.header}</strong></p></f:format.raw>
			<f:format.raw><f:format.crop maxCharacters="100" respectWordBoundaries="true" respectHtml="true" append="&nbsp;...">{product.bodytext}</f:format.crop></f:format.raw>
			<f:format.raw><p>&nbsp;</p><p><a href="{url}">&raquo;&raquo;&nbsp;<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:rating.emailrating.link.title" /></a></p></f:format.raw>
		</td>
	</tr>
</table>
<hr />

<p>&nbsp;</p>
<p><f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:rating.emailrating.outro" /></p>
<p>&nbsp;</p>
<p><f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:rating.emailrating.thankyou" /></p>
<p><f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:rating.emailrating.team" /></p>
