<style>
	p {
		margin: 0;
		padding: 0;
	}
</style>


<h1 style="font-size: 14px; font-weight: bold;"><f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:rating.title" /></h1>
<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:rating.emailnotification.intro" /><br /><br />

<table style="width: 100%;">
	<tr style="vertical-align: top;">
		<td style="width: 20%; font-size: 12px; font-weight: bold; background-color: #ebebeb;"><f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:rating.emailnotification.product" /></td>
		<td style="width: 80%; font-size: 12px; background-color: #ebebeb;">{product.header}</td>
	</tr>
	<tr style="vertical-align: top;">
		<td style="font-size: 12px; font-weight: bold; background-color: #ebebeb;"><f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:rating.name" /></td>
		<td style="font-size: 12px; background-color: #ebebeb;">{rating.name}</td>
	</tr>
	<tr style="vertical-align: top;">
		<td style="font-size: 12px; font-weight: bold; background-color: #ebebeb;"><f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:rating.email" /></td>
		<td style="font-size: 12px; background-color: #ebebeb;">{rating.email}</td>
	</tr>
	<tr style="vertical-align: top;">
		<td style="font-size: 12px; font-weight: bold; background-color: #ebebeb;"><f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:rating.rating" /></td>
		<td style="font-size: 12px; background-color: #ebebeb;">{rating.rating}</td>
	</tr>
	<tr style="vertical-align: top;">
		<td style="font-size: 12px; font-weight: bold; background-color: #ebebeb;"><f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:rating.comment" /></td>
		<td style="font-size: 12px; background-color: #ebebeb;"><f:format.raw>{rating.comment}</f:format.raw></td>
	</tr>
	<f:if condition="{settings.new.check}">
		<tr style="vertical-align: top;">
			<td style="font-size: 12px; font-weight: bold; background-color: #ebebeb;"><f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:rating.emailnotification.link.label" /></td>
			<td style="font-size: 12px; background-color: #ebebeb;">
				<a href='{f:cObject(typoscriptObjectPath: 'lib.tx_maagitproduct.currentDomain', data: '0')}<f:uri.action extensionName="Maagitproduct" pluginName="Rating" controller="Rating" action="accept" arguments="{ratingUid: rating.uid}" />'>
					<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:rating.emailnotification.link" />
				</a>
			</td>
		</tr>
	</f:if>
</table>