<f:section name="HeaderAssets">
	<script src="{f:uri.resource(path:'JavaScript/Rating/RatingMain.js', extensionName: 'maagitproduct')}"></script>
</f:section>
<f:layout name="Shop" />
<f:section name="main">
	<f:if condition="!{order}">
		<f:then>
			<div class="row">
				<div class="col-12">
					<h2><f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:rating.send.title" /></h2>
					<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:rating.send.noorder" />
				</div>
			<div>
		</f:then>
		<f:else>
			<form id="frmAjax" action="index.php"></form>
			<div class="row">
				<div class="col-12">
					<h2 class="mb-4"><f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:rating.send.title" /></h2>
					<h5><f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:rating.send.order" arguments="{0: '{f:format.date(date: order.crdate, format: \"d.m.Y H:i\")}', 1: '{order.lastname}', 2: '{order.prename}'}" /></h5>
					<div><hr /></div>
					<div class="form-group row my-0">
						<label class="control-label col-sm-3"><f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang_db.xlf:tx_maagitproduct_domain_model_order.email" />:</label>
			        	<div class="input col-sm-9 font-weight-bold">
							{order.email}
						</div>
					</div>
					<div class="form-group row my-0">
						<label class="control-label col-sm-3"><f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang_db.xlf:tx_maagitproduct_domain_model_order.paymentdone" />:</label>
			        	<div class="input col-sm-9 font-weight-bold">
							<f:format.date format="d.m.Y H:i">{order.paymentDone}</f:format.date>
						</div>
					</div>
					<div class="form-group row my-0">
						<label class="control-label col-sm-3"><f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang_db.xlf:tx_maagitproduct_domain_model_order.shippingdone" />:</label>
			        	<div class="input col-sm-9 font-weight-bold">
							<f:format.date format="d.m.Y H:i">{order.shippingdone}</f:format.date>
						</div>
					</div>
					<div class="mb-4"></div>
					<table class="table table-hover">
						<thead class="thead-light">
							<tr>
								<th width="10%">Aktion</th>
								<th width="50%">Produkt / Artikel</th>
								<th width="40%">Status</th>
							</tr>
						</thead>
						<tbody>
							<f:for each="{order.articles}" as="article">
								<f:variable name="state"><f:spaceless><f:render section="stateConditions" arguments="{order: order, article: article}" /></f:spaceless></f:variable>
								<tr class="js-tx-maagitproduct-rating-article" data-order="{order.uid}" data-product="{article.productuid}" data-state="{state}">
									<td class="{f:if(condition: '{state}!=0', then: 'text-muted font-italic')}"><f:spaceless><f:render section="symbol" arguments="{order: order, article: article}" /></f:spaceless></td>
									<td class="{f:if(condition: '{state}!=0', then: 'text-muted font-italic')}">{article.product}</td>
									<td class="{f:if(condition: '{state}!=0', then: 'text-muted font-italic')}"><f:spaceless><f:render section="status" arguments="{order: order, article: article}" /></f:spaceless></td>
								</tr>
							</f:for>
						</tbody>
					</table>
					<button class="btn btn-primary js-tx-maagitproduct-rating-send" type="submit">
						<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:rating.send.button" />
					</button>
				</div>
			<div>
		</f:else>
	</f:if>
</f:section>



<f:section name="stateConditions">
	<f:if condition="!{order.email}">
		<f:then>
			1
		</f:then>
		<f:else>
			<f:if condition="!{article.productUid}">
				<f:then>
					2
				</f:then>
				<f:else>
					<f:if condition="{article.ratingmail}">
						<f:then>
							3
						</f:then>
						<f:else>
							0
						</f:else>
					</f:if>
				</f:else>
			</f:if>
		</f:else>
	</f:if>
</f:section>



<f:section name="symbol">
	<f:variable name="state"><f:spaceless><f:render section="stateConditions" arguments="{order: order, article: article}" /></f:spaceless></f:variable>
	<f:if condition="{state}==0">
		<i class="fa-circle far"></i>
	</f:if>
	<f:if condition="{state}!=0">
		<i class="fa-times-circle far"></i>
	</f:if>
</f:section>



<f:section name="status">
	<f:variable name="state"><f:spaceless><f:render section="stateConditions" arguments="{order: order, article: article}" /></f:spaceless></f:variable>
	<f:if condition="{state}==0">
		<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:rating.send.ready" />
	</f:if>
	<f:if condition="{state}==1">
		<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:rating.send.noemail" />
	</f:if>
	<f:if condition="{state}==2">
		<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:rating.send.noproductuid" />
	</f:if>
	<f:if condition="{state}==3">
		<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:rating.send.ratingmail" arguments="{0: '{f:format.date(date: article.ratingmail, format: \"d.m.Y H:i\")}'}" />
	</f:if>
</f:section>