<f:section name="HeaderAssets">
	<script src="{f:uri.resource(path:'JavaScript/Rating/RatingMain.js', extensionName: 'maagitproduct')}"></script>
	<link rel="stylesheet" type="text/css" href="{f:uri.resource(path:'StyleSheet/Product/Rating.css', extensionName: 'maagitproduct')}" media="all">
</f:section>
<f:layout name="Shop" />
<f:section name="main">
	<f:if condition="!{product}">
		<f:then>
			<div class="row">
				<div class="col-12">
					<h2><f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:rating.title" /></h2>
					<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:rating.noproduct" />
				</div>
			<div>
		</f:then>
		<f:else>
			<div class="row">	
				<div class="col-lg-3 my-4">
					<div class="card h-100">
						<f:variable name="done">0</f:variable>
						<f:for each="{product.assets}" as="asset" iteration="iterator">
							<f:if condition="{done}==0">
								<f:if condition="{asset.type}=='contentObject'">
									<f:variable name="done">1</f:variable>
									<img class="card-img-top bg-light" src="{asset.pathAndFilename}" alt="{product.header}" />
								</f:if>
							</f:if>
						</f:for>
						<div class="card-body h-50">
							<h4 class="card-title">
								{product.header}
							</h4>
							<p class="card-text">
								<f:format.raw>
									<f:format.crop maxCharacters="100" respectWordBoundaries="true" respectHtml="true" append="&nbsp;...">{product.bodytext}</f:format.crop>
								</f:format.raw>
							</p>
						</div>
						<div class="card-footer text-center"></div>
					</div>
				</div>
				<div class="col-lg-9 my-4">
					<h2><f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:rating.title" /></h2>
					<f:form action="create" name="rating" object="{rating}">
						<f:form.hidden property="ttContent" value="{product.uid}" />
						<f:form.hidden property="rating" id="rating" value="" />
						<f:if condition="{settings.new.check}">
							<f:form.hidden property="hidden" value="1" />
						</f:if>
						<div class="form-group row">
							<label class="control-label col-sm-3" for="name"><f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:rating.name" /><span class="required">*</span></label>
				        	<div class="input col-sm-9">
								<f:form.textfield property="name" id="name" placeholder="{f:translate(key: 'LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:rating.name.placeholder')}" required="required" />
							</div>
						</div>
						<div class="form-group row">
							<label class="control-label col-sm-3" for="email"><f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:rating.email" /></label>
				        	<div class="input col-sm-9">
								<f:form.textfield property="email" id="email" placeholder="{f:translate(key: 'LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:rating.email.placeholder')}" />
							</div>
						</div>
						<div class="form-group row">
							<label class="control-label col-sm-3" for="rating"><f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:rating.rating" /><span class="required">*</span></label>
				        	<div class="input col-sm-9">
								<fieldset class="rate my-0">
									<input class="" type="radio" id="rating10" name="star" value="5" required="required" />
									<label class="js-tx-maagitproduct-star" for="rating10" title="<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:product.rating.stars.5" />"></label>
								    <input class="" type="radio" id="rating9" name="star" value="4.5" required="required" />
									<label class="js-tx-maagitproduct-star half" for="rating9" title="<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:product.rating.stars.5" />"></label>
								    <input class="" type="radio" id="rating8" name="star" value="4" required="required" />
									<label class="js-tx-maagitproduct-star" for="rating8" title="<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:product.rating.stars.4" />"></label>
								    <input class="" type="radio" id="rating7" name="star" value="3.5" required="required" />
									<label class="js-tx-maagitproduct-star half" for="rating7" title="<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:product.rating.stars.4" />"></label>
								    <input class="" type="radio" id="rating6" name="star" value="3" required="required" />
									<label class="js-tx-maagitproduct-star" for="rating6" title="<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:product.rating.stars.3" />"></label>
								    <input class="" type="radio" id="rating5" name="star" value="2.5" required="required" />
									<label class="js-tx-maagitproduct-star half" for="rating5" title="<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:product.rating.stars.3" />"></label>
								    <input class="" type="radio" id="rating4" name="star" value="2" required="required" />
									<label class="js-tx-maagitproduct-star" for="rating4" title="<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:product.rating.stars.2" />"></label>
								    <input class="" type="radio" id="rating3" name="star" value="1.5" required="required" />
									<label class="js-tx-maagitproduct-star half" for="rating3" title="<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:product.rating.stars.2" />"></label>
								    <input class="" type="radio" id="rating2" name="star" value="1" required="required" />
									<label class="js-tx-maagitproduct-star" for="rating2" title="<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:product.rating.stars.1" />"></label>
								    <input class="" type="radio" id="rating1" name="star" value="0.5" required="required" />
									<label class="js-tx-maagitproduct-star half" for="rating1" title="<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:product.rating.stars.1" />"></label>
								</fieldset>
							</div>
						</div>
						<div class="form-group row">
							<label class="control-label col-sm-3" for="comment"><f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:rating.comment" /></label>
				        	<div class="input col-sm-9">
								<f:form.textarea property="comment" id="comment" placeholder="{f:translate(key: 'LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:rating.comment.placeholder')}" />
							</div>
						</div>
						<div class="form-group row">
				        	<div class="col-sm-3">&nbsp;</div>
							<div class="input col-sm-9">
								<button class="btn btn-primary" type="submit"><f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:rating.submit" /></button>
							</div>
						</div>
					</f:form>
				</div>
			</div>		
		</f:else>
	</f:if>
</f:section>