{namespace maagitproduct=Maagit\Maagitproduct\ViewHelpers}
<f:section name="HeaderAssets">
	<link rel="stylesheet" type="text/css" href="{f:uri.resource(path:'StyleSheet/Product/Product.css', extensionName: 'maagitproduct')}" media="all">
	<link rel="stylesheet" type="text/css" href="{f:uri.resource(path:'StyleSheet/Product/Rating.css', extensionName: 'maagitproduct')}" media="all">
</f:section>
<f:layout name="Default" />
<f:section name="Header"></f:section>
<f:section name="Main">
	<div class="maagitproduct">
		<div class="ce-textpic ce-{gallery.position.horizontal} ce-{gallery.position.vertical}{f:if(condition: gallery.position.noWrap, then: ' ce-nowrap')}">
			<f:if condition="{data.tx_maagitproduct_verkauft}"><div class="verkauft"></f:if>
			<f:render partial="Media/Gallery" arguments="{_all}" />
			<f:if condition="{data.tx_maagitproduct_verkauft}"></div></f:if>
			<f:render partial="Header/All" arguments="{_all}" />
			<div class="csc-product_content-text">
				<f:format.html>{data.bodytext}</f:format.html>
				<f:format.html><p><f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:product.nr" />{data.tx_maagitproduct_nr}, <f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:product.price" /><span class="tx-maagitproduct-checkout_unitPrice_{data.uid}"><f:format.currency decimalSeparator="." thousandsSeparator=" " decimals="2" currencySign="CHF" prependCurrency="true" separateCurrency="true" useDash="false">{data.tx_maagitproduct_price}</f:format.currency></span>, <f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:product.stock" /><span class="tx-maagitproduct-checkout_unitStock_{data.uid}<f:if condition="{data.tx_maagitproduct_stock}>0"> plus</f:if><f:if condition="{data.tx_maagitproduct_stock}<=0"> minus</f:if>">{data.tx_maagitproduct_stock}</span></p></f:format.html>
				<div class="csc-product_units">
					<f:render section="Units" arguments="{_all}" />
				</div>
				<f:if condition="{settings.product.detailActivate}">
					<f:render partial="Product/DetailLink" arguments="{_all}" />
				</f:if>
				<f:if condition="{settings.basket.linkActivate}">
					<f:if condition="!{data.tx_maagitproduct_verkauft}">
						<f:render partial="Basket/Link" arguments="{_all}" />
					</f:if>
				</f:if>
				<f:if condition="{data.tx_maagitproduct_verkauft}">
					<f:format.html><f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:product.saled" /></f:format.html>
				</f:if>
				<f:render partial="Product/Rating" arguments="{_all}" />
			</div>
		</div>
	</div>
</f:section>


<f:section name="Units">
	<maagitproduct:stringToArray convert="{data.tx_maagitproduct_unit}" to="units" keys="{0:'id', 1:'text', 2:'weight', 3:'price', 4:'stock'}" />
	<div class="form-group">
		<f:for each="{units}" as="unit" iteration="iterator">
			<f:variable name="price">
				<f:format.currency decimalSeparator="." thousandsSeparator=" " decimals="2" currencySign="CHF" prependCurrency="true" separateCurrency="true" useDash="false">{unit.price}</f:format.currency>
			</f:variable>
			<f:variable name="stock">
				{unit.stock}
			</f:variable>
			<div class="radio">
				<label for="unit_{data.uid}_{unit.id}">
					<input type="radio" class="js-tx-maagitproduct-unit" id="unit_{data.uid}_{unit.id}" name="unit_{data.uid}" data-product="{data.uid}" data-price="{price}" data-stock="{stock}" value="{unit.id}" {f:if(condition:'{iterator.isFirst}', then: 'checked="checked"')} />
					<span>
						{unit.text}
					</span>
				</label>
			</div>
		</f:for>
	</div>
</f:section>