<f:section name="HeaderAssets">
	<link rel="stylesheet" type="text/css" href="{f:uri.resource(path:'StyleSheet/Requirements/Requirements.css', extensionName: 'maagitproduct')}" media="all">
</f:section>
<f:layout name="Shop" />
<f:section name="main">
	
	<!-- BEGIN: check requirements in case of blocked cookies (cookieconsent) -->
	<script>
		// this script is executed only, if "javascript" is enabled --> so javascript must be true, only jquery must now be checked
		if ({jquery} && {jqueryUnknown} && {jqueryVersion})
		{
			// check on created cookie on client
			if (document.cookie.indexOf('maagitproduct=') > -1)
			{
				// newly cookie is created, make refresh
				location.href = '<f:uri.typolink parameter="{refresh}" />';
			}
		}
	</script>
	<!-- END: check requirements in case of blocked cookies (cookieconsent) -->

	<div class="tx-maagitproduct-requirements">
		<h1><f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:requirements.title" /></h1>
		<p><f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:requirements.intro" /></p>
		<p>&nbsp;</p>
		<table>
			<tr>
				<th><f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:requirements.requirement" /></th>
				<th><f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:requirements.state" /></th>
			</tr>
			<tr>
				<td><f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:requirements.javascript" /></td>
				<td>
					<f:if condition="{javascript}">
						<f:then>
							<span class="enabled">
								<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:requirements.enabled" />
							</span>
						</f:then>
						<f:else>
							<span class="disabled">
								<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:requirements.disabled" />
							</span>
						</f:else>
					</f:if>
				</td>
			</tr>
			<tr>
				<td><f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:requirements.jquery" /></td>
				<td>
					<f:if condition="{jquery} && {jqueryUnknown} && {jqueryVersion}">
						<f:then>
							<span class="enabled">
								<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:requirements.enabled" />
								(Version {jqueryVersionNumber})
							</span>
						</f:then>
						<f:else>
							<f:if condition="!{jquery}">
								<span class="disabled">
									<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:requirements.notavailable" />
								</span>
							</f:if>
							<f:if condition="!{jqueryUnknown}">
								<span class="mistake">
									<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:requirements.unknown" />
								</span>
							</f:if>
							<f:if condition="!{jqueryVersion}">
								<span class="mistake">
									<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:requirements.version" />
									<br /><f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:requirements.version.current" /> {jqueryVersionNumber}<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:requirements.version.atleast" /> {jqueryMinVersionNumber} <f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:requirements.version.end" />
								</span>
							</f:if>
						</f:else>
					</f:if>
				</td>
			</tr>
			<tr>
				<td><f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:requirements.cookies" /></td>
				<td>
					<f:if condition="{cookies}">
						<f:then>
							<span class="enabled">
								<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:requirements.enabled" />
							</span>
						</f:then>
						<f:else>
							<span class="disabled">
								<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:requirements.disabled" />
							</span>
						</f:else>
					</f:if>
				</td>
			</tr>
		</table>
		<p class="refresh">
			&raquo;
			<f:link.typolink parameter="{refresh}">
				<f:translate key="LLL:EXT:maagitproduct/Resources/Private/Language/locallang.xlf:requirements.refresh" />
			</f:link.typolink>
		</p>
	</div>
</f:section>