.tx-maagitproduct-requirements * {
	font-family: Arial;
	font-size: 14px;
}

.tx-maagitproduct-requirements {
	display: inline-block;
	border: 1px solid #dadada;
	background-color: #f0f0f0;
	margin: 0;
	padding: 20px 40px;
	width: auto;
}

.tx-maagitproduct-requirements h1 {
	font-size: 18px;
	margin: 0 0 10px 0;
}

.tx-maagitproduct-requirements p {
	margin: 0;
}

.tx-maagitproduct-requirements table {
	width: 100%;
	border-collapse: collapse;
}

.tx-maagitproduct-requirements tr {
	vertical-align: top;
}

.tx-maagitproduct-requirements th {
	border: 1px solid #fff;
	width: 140px;
	text-align: left;
}

.tx-maagitproduct-requirements th:first-child {
	width: 40%;
}

.tx-maagitproduct-requirements th:nth-child(2) {
	width: 60%;
}

.tx-maagitproduct-requirements td {
	border: 1px solid #fff;
}

.tx-maagitproduct-requirements td .enabled {
	color: green;
}

.tx-maagitproduct-requirements td .mistake {
	color: orange;
}

.tx-maagitproduct-requirements td .disabled {
	color: red;
}

.tx-maagitproduct-requirements p.refresh {
	text-align: right;
	margin-top: 10px;
}